<div class="grid" *ngIf="isLoading == true">
  <div class="col-12@xs">
    <app-loader></app-loader>
  </div>
</div>
<div class="grid" *ngIf="isLoading == false">
  <div class="col-3@sm">
    <img
      [defaultImage]="defaultImage"
      [lazyLoad]="recording?.image"
      alt="{{ recording?.title }}"
      style="width: 100%"
    />
  </div>
  <div class="col-9@sm">
    <h1 [style.color]="hex">
      <span>{{ recording?.title }}</span>
    </h1>
    <strong>
      {{ recording.timeStart | date: 'dd.MM.yyyy' }} &mdash;
      {{ recording.timeStart | date: 'HH:mm' }} bis
      {{ recording.timeEnd | date: 'HH:mm' }} Uhr
    </strong>
    <div class="recording__list__text__container__tag__wrapper">
      <span
        class="recording__list__text__container__tags"
        *ngFor="let genre of recording.genres"
      >
        <a [style.color]="hex" routerLink="/recordings">{{ genre.title }}</a>
      </span>
    </div>
    <p style="margin-top: 10px;">{{ recording?.description }}</p>
  </div>
  <div class="col-12">
    <audio
      id="audio_with_controls"
      controls
      src="{{ recording.audio }}"
      type="audio/mp3"
    >
      Ihr Browser kann dieses Tondokument nicht wiedergeben.
    </audio>
  </div>
  <div class="col-12">
    <a
      class="btn btn-secondary"
      [style.backgroundColor]="hex"
      routerLink="/recordings"
      translate
      >BACK</a
    >&nbsp;
    <a
      class="btn btn-secondary"
      [style.backgroundColor]="hex"
      href="{{ recording.audio }}"
      translate
      >DOWNLOAD_BROADCAST_BUTTON</a
    >
  </div>
</div>
