<div class="grid-auto-lg grid-gap-lg" *ngIf="isLoading == false">
  <div
    class="center ArchiveThumb broadcast"
    [hidden]="isLoading"
    *ngFor="let show of shows"
  >
    <div class="recording__list__image__container">
      <a class="show__link" routerLink="/recordings/{{ show?.slug }}">
        <figure class="circle">
          <img
            [defaultImage]="defaultImage"
            [lazyLoad]="show?.image"
            alt="{{ show?.title }}"
          />
        </figure>
      </a>
    </div>
    <aside>
      <div class="recording__list__text__container">
        <a class="show__link" routerLink="/recordings/{{ show?.slug }}">
          <h5>{{ show?.title }}</h5>
          <p>
            {{ show?.description }}
          </p>
        </a>
      </div>
    </aside>
  </div>
</div>
<div class="col-12" *ngIf="isLoading == true">
  <app-loader></app-loader>
</div>
