<div class="top__banner" *ngIf="bannerVisible">
  <div class="container">
    <div class="grid">
      <div class="col-12">
        <div class="top__banner__inner">
          <div class="top__banner__inner__text">
            👋 Radio Rasclat is open-source and ad-free! Please consider
            donating.
          </div>
          <div class="top__banner__inner__controls">
            <div class="top__banner__inner__controls_btn">
              <a
                class="btn btn-secondary"
                href="http://opencollective.com/radio-rasclat"
                target="_blank"
                >{{ 'readMore' | translate }} ></a
              >
            </div>
            <a (click)="hideBanner()">
              <svg-icon key="menuClose"></svg-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
