<span *ngIf="isLoading">
  <app-loader></app-loader>
</span>
<div *ngIf="!isLoading">
  <span
    (click)="play()"
    *ngIf="!state?.playing || state.currentTrack.currentSrc != this.streamUrl"
    class="liveInfo"
  >
    <svg-icon key="play"></svg-icon>
    <span *ngIf="currentShowName">
      Live: {{ currentShowName | safeHtml }}
    </span>
    <span *ngIf="!currentShowName">
      OFF AIR.
    </span>
  </span>
  <span
    (click)="pause()"
    *ngIf="state?.playing && state.currentTrack.currentSrc == this.streamUrl"
    class="liveInfo"
  >
    <svg-icon key="pause"></svg-icon>
    <span *ngIf="currentShowName">
      Live: {{ currentShowName | safeHtml }}
    </span>
    <span *ngIf="!currentShowName">
      OFF AIR.
    </span>
  </span>
</div>
