.liveInfo {
  cursor: pointer;
}

.liveInfo:hover {
  color: var(--secondary-color);
}

svg-icon {
  width: 11px;
  height: 11px;
}

@media only screen and (min-width: 32rem) {
  svg-icon {
    width: 12px;
    height: 12px;
  }
}

@media only screen and (min-width: 48rem) {
  svg-icon {
    width: 13px;
    height: 13px;
  }
}

@media only screen and (min-width: 64rem) {
  svg-icon {
    width: 14px;
    height: 14px;
  }
}

@media only screen and (min-width: 80rem) {
  svg-icon {
    width: 15px;
    height: 15px;
  }
}
