.liveInfo {
  cursor: pointer;
}

.liveInfo:hover {
  color: var(--secondary-color);
}

.liveInfo:hover > span.icon {
  background-color: var(--secondary-color);
}

span.playIcon {
  background-color: var(--text-color);
  -webkit-mask: url("../../../assets/svg/play.svg") no-repeat center;
  mask: url("../../../assets/svg/play.svg") no-repeat center;
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
}

span.pauseIcon {
  background-color: var(--text-color);
  -webkit-mask: url("../../../assets/svg/pause.svg") no-repeat center;
  mask: url("../../../assets/svg/pause.svg") no-repeat center;
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
}

@media only screen and (min-width: 32rem) {
  img.playIcon {
    width: 12px;
  }
}

@media only screen and (min-width: 48rem) {
  img.playIcon {
    width: 13px;
  }
}

@media only screen and (min-width: 64rem) {
  img.playIcon {
    width: 14px;
  }
}

@media only screen and (min-width: 80rem) {
  img.playIcon {
    width: 15px;
  }
}
