<span *ngIf="isLoading">
  <app-loader></app-loader>
</span>
<span *ngIf="!isLoading" class="liveInfo">
  <img
    class="playIcon"
    (click)="play()"
    *ngIf="!state?.playing || state.currentTrack.currentSrc != this.streamUrl"
    src="../../../assets/svg/play.svg"
  />
  <img
    class="playIcon"
    (click)="pause()"
    *ngIf="state?.playing && state.currentTrack.currentSrc == this.streamUrl"
    src="../../../assets/svg/pause.svg"
  />
  <span *ngIf="currentShowName"> Live: {{ currentShowName | safeHtml }} </span>
  <span *ngIf="!currentShowName">
    OFF AIR.
  </span>
</span>
