/* Shows List App */

.showList {
  border-bottom: 1px solid #222222;
}

.showList > .grid-auto-xl {
  grid-gap: 1px;
  overflow: hidden;
}

.show {
  background-color: #fff;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    // match the grid gap for border thickness
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    // this becomes the border, and handles overlap
    background-color: #222222;
  }
}

.show:hover {
  transition: all 0.15s ease;
  background-color: #f0f0f0;
}

.show__wrapper {
  padding: 1rem;
  position: relative;
  background-color: #fff;
}

.show__info__container {
  width: 100%;
}

.show__description {
  line-height: inherit;
  margin-bottom: 1rem;
}

.show__image__container {
  padding: 2rem;
}

.show__image__container figure.square {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
  border: 1px solid #000;
}

.show__image__container figure.square img {
  position: absolute;
  top: -1px;
  left: -1px;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.show__image__container figure.banner {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 45%;
  border: 1px solid #000;
}

.show__image__container figure.banner img {
  position: absolute;
  top: -1px;
  left: -1px;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
