@import "~theme/_z-index.scss";

:host {
  .sticky {
    position: sticky;
    position: -webkit-sticky;
    top: -1px;
    z-index: map-get($z-index, header);
    -webkit-transform: translateZ(0);
  }
}
