<div id="player" *ngIf="!state?.hidden" [@enterAnimation]>
  <div class="container-full">
    <div class="playerWrapper">
      <div class="grid">
        <div class="col-12" *ngIf="!state?.live">
          <div class="timeline">
            <div class="rangeSlider">
              <input
                type="range"
                class="time-slider"
                min="0"
                [max]="state?.duration"
                step="1"
                style="width: 100%"
                [value]="state?.currentTrack.currentTime"
                (input)="onSliderChangeEnd($event)"
                [disabled]="state?.error"
                *ngIf="state.currentTrack.currentSrc != ''"
              />
            </div>
          </div>
        </div>
        <div
          class="col-12 playerInner"
          *ngIf="!state?.playing && !state?.canplay"
        >
          <div class="playerControls">
            <app-loader></app-loader>
          </div>
        </div>
        <div
          class="col-12 playerInner"
          *ngIf="state?.playing || state?.canplay"
        >
          <div class="playerControls playerPlay">
            <span (click)="play()" *ngIf="!state?.playing && state?.canplay">
              <a>
                <svg-icon key="play"></svg-icon>
              </a>
            </span>
            <span (click)="pause()" *ngIf="state?.playing">
              <a>
                <svg-icon key="pause"></svg-icon>
              </a>
            </span>
          </div>
          <div class="playerImage">
            <div *ngIf="state?.currentTrack.currentImage">
              <img
                src="{{ state?.currentTrack.currentImage }}"
                style="width: 2.5rem"
                alt="Radio Rasclat Live"
              />
            </div>
            <div *ngIf="!state?.currentTrack.currentImage">
              <img
                src="../../../../assets/svg/logo.svg"
                style="width: 2.5rem"
                alt="Radio Rasclat Live"
              />
            </div>
          </div>
          <div class="playerInfo" *ngIf="!state?.live">
            <a routerLink="/broadcasts/{{ state?.currentTrack.currentUrl }}">
              <h5>
                {{
                  state?.currentTrack.currentTitle.length > 50
                    ? (state?.currentTrack.currentTitle | slice: 0:50) + '...'
                    : state?.currentTrack.currentTitle
                }}
              </h5>
            </a>
          </div>
          <div
            class="playerInfo"
            *ngIf="state?.currentTrack.currentTitle && state?.live"
          >
            <h5>
              {{
                state?.currentTrack.currentTitle.length > 50
                  ? (state?.currentTrack.currentTitle | slice: 0:50) + '...'
                  : state?.currentTrack.currentTitle
              }}
            </h5>
          </div>
          <div
            class="playerInfo"
            *ngIf="!state?.currentTrack.currentTitle && state?.live"
          >
            <h5>OFF AIR.</h5>
            <span class="nextShow" *ngIf="state?.nextShowName">
              Nächste Show: {{ state?.nextShowName }}
              <span class="nextShow__time"
                >&mdash; {{ state?.nextShowStart }}</span
              >
            </span>
          </div>
          <div class="playerDuration" *ngIf="!state?.live">
            <span class="playerDurationInner">
              {{ state?.readableCurrentTime }} — {{ state?.readableDuration }}
            </span>
          </div>
          <div class="playerVolume" *ngIf="!state?.live">
            <span class="playerVolumeInner">
              <span (click)="mute()">
                <svg-icon key="volume-up" style="margin: 0 auto -13px auto;" *ngIf="!state.muted && state.volume > 0"></svg-icon>
                <svg-icon key="volume-off" style="margin: 0 auto -13px auto;" *ngIf="state.muted || state.volume == 0"></svg-icon>
              </span>
              <input
                      type="range"
                      class="volume-slider"
                      min="0"
                      max="100"
                      step="1"
                      style="margin: 0 auto 13px auto;"
                      [value]="state?.volume"
                      (input)="onVolumeSliderChangeEnd($event)"
                      [disabled]="state?.error"
                      *ngIf="state.currentTrack.currentSrc != ''"
              />
            </span>
          </div>
          <div class="playerControls playerClose">
            <span (click)="hide()">
              <a>
                <svg-icon key="close"></svg-icon>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
