$primary-color: #000000;
$primary-color-dark: #ffffff;

$secondary-color: #0387fe;
$secondary-color-dark: #0387fe;

$page-background: #ffffff;
$page-background-dark: #000000;

$text-color: #000000;
$text-color-dark: #ffffff;

$text-color-light: #c5c5c5;
$text-color-light-dark: #525252;

$card-background: #fff;
$card-background-dark: #000000;
$card-background-hover: #f2f2f2;
$card-background-hover-dark: #191919;
$card-border: #222222;
$card-border-dark: #eaeaea;

$card-light-background: #f2f2f2;
$card-light-background-dark: #191919;
$card-light-background-hover: #dedede;
$card-light-background-hover-dark: #2d2d2d;

$colors: (
  --primary-color: (
    $primary-color,
    $primary-color-dark,
  ),
  --secondary-color: (
    $secondary-color,
    $secondary-color-dark,
  ),
  --page-background: (
    $page-background,
    $page-background-dark,
  ),
  --text-color: (
    $text-color,
    $text-color-dark,
  ),
  --text-color-light: (
    $text-color-light,
    $text-color-light-dark,
  ),
  --card-background: (
    $card-background,
    $card-background-dark,
  ),
  --card-background-hover: (
    $card-background-hover,
    $card-background-hover-dark,
  ),
  --card-border: (
    $card-border,
    $card-border-dark,
  ),
  --card-light-background: (
    $card-light-background,
    $card-light-background-dark,
  ),
  --card-light-background-hover: (
    $card-light-background-hover,
    $card-light-background-hover-dark,
  ),
);
