//
// Color system
//

$primary-color: #000000;
$primary-color-dark: #000000;

$secondary-color: #0387fe;
$secondary-color-dark: #0387fe;

$page-background: #ffffff;
$page-background-dark: #000000;

$card-background: #fafafa;
$card-background-dark: #494949;
$card-border: #eee;
$card-border-dark: #5c5c5c;
