<div class="container">
  <app-page-title [title]="'privacy' | translate"></app-page-title>

  <div class="privacy">
    <div class="grid">
      <div class="col-12">
        <p><strong>1. Geltungsbereich</strong></p>
        <p>
          Diese Datenschutzerkl&auml;rung kl&auml;rt Nutzer &uuml;ber die Art,
          den Umfang und Zwecke der Erhebung, Verwendung sowie Verarbeitung
          personenbezogener Daten durch den verantwortlichen
          Anbieter&nbsp;"Radio Rasclat e. V.",&nbsp;Müllergasse 2,&nbsp;34117
          Kassel,&nbsp;E-Mail:&nbsp;<a href="mailto:office@radio-rasclat.com"
            >office@radio-rasclat.com</a
          >&nbsp;auf.&nbsp;Wir bitten Sie daher, die nachfolgenden
          Ausf&uuml;hrungen sorgf&auml;ltig durchzulesen.
        </p>
        <p>
          Die rechtlichen Grundlagen des Datenschutzes befinden sich in der
          Datenschutzgrundverordnung (DSGVO) im Bundesdatenschutzgesetz (BDSG)
          und dem Telemediengesetz (TMG).
        </p>
        <p>&nbsp;</p>
        <p><strong>2. Erl&auml;uterungen der verwendeten Begriffe:</strong></p>
        <p>
          <em>Personenbezogene Daten</em>&nbsp;sind alle Informationen, die sich
          auf eine identifizierte oder identifizierbare nat&uuml;rliche Person
          beziehen. Hierzu z&auml;hlen z.B. Ihr Name, Ihre Adress- und
          Kommunikationsdaten oder Ihre E-Mailadresse.
        </p>
        <p>
          <em>Verarbeiten</em>&nbsp;meint jeden mit oder ohne Hilfe
          automatisierter Verfahren ausgef&uuml;hrten Vorgang oder jede solche
          Vorgangsreihe im Zusammenhang mit personenbezogenen Daten wie das
          Erheben, das Erfassen, die Organisation, das Ordnen, die Speicherung,
          die Anpassung oder Ver&auml;nderung, das Auslesen, das Abfragen, die
          Verwendung, die Offenlegung durch &Uuml;bermittlung, Verbreitung oder
          eine andere Form der Bereitstellung, den Abgleich oder die
          Verkn&uuml;pfung, die Einschr&auml;nkung, das L&ouml;schen oder die
          Vernichtung.
        </p>
        <p>
          <em>Betroffene Person</em>&nbsp;ist jede identifizierte oder
          identifizierbare nat&uuml;rliche Person, deren personenbezogene Daten
          von dem f&uuml;r die Verarbeitung Verantwortlichen verarbeitet werden.
        </p>
        <p>
          <em>Verantwortlicher</em>&nbsp;oder &bdquo;f&uuml;r die Verarbeitung
          Verantwortlicher&ldquo; ist die nat&uuml;rliche oder juristische
          Person, Beh&ouml;rde, Einrichtung oder andere Stelle, die allein oder
          gemeinsam mit anderen &uuml;ber die Zwecke und Mittel der Verarbeitung
          von personenbezogenen Daten entscheidet.
        </p>
        <p>
          <em>Nutzer</em>&nbsp;umfasst alle Kategorien von der Datenverarbeitung
          betroffener Personen. Zu ihnen geh&ouml;ren unsere
          Gesch&auml;ftspartner und sonstige Besucher unserer Webseite.
        </p>
        <p>
          Bei den verwendeten Begrifflichkeiten verweisen wir dar&uuml;ber
          hinaus auf die Definitionen in Art. 4 der Datenschutzgrundverordnung
          (DSGVO). Die verwendeten Begrifflichkeiten wie z.B.
          &bdquo;Nutzer&ldquo; sind geschlechtsneutral zu verstehen.
        </p>
        <p>&nbsp;</p>
        <p><strong>3. Name und Anschrift des Verantwortlichen</strong></p>
        <p>"Radio Rasclat e. V."</p>
        <p>Müllergasse 2<br />34117 Kassel</p>
        <p>
          E-Mail:&nbsp;<a href="mailto:office@radio-rasclat.com"
            >office@radio-rasclat.com</a
          >
        </p>
        <p>&nbsp;</p>
        <p><strong>4. Datenschutzbeauftragter</strong></p>
        <p>
          Sie k&ouml;nnen unseren Datenschutzbeauftragten &uuml;ber die
          E-Mailadresse&nbsp;<a href="mailto:office@radio-rasclat.com"
            >office@radio-rasclat.com</a
          >&nbsp;oder &uuml;ber unsere Postadresse mit dem Zusatz &bdquo;der
          Datenschutzbeauftragte&ldquo; kontaktieren.
        </p>
        <p>&nbsp;</p>
        <p><strong>5. Verarbeitung personenbezogener Daten</strong></p>
        <p><strong>5.1. Besuch unserer Website</strong></p>
        <p><strong>5.1.1. Umfang der Datenverarbeitung</strong></p>
        <p>
          Wenn Sie unsere Website besuchen, &uuml;bertr&auml;gt Ihr Browser auch
          technischen Gr&uuml;nden bestimmte Daten an unseren Webserver. Dabei
          handelt es sich um folgende Daten (sogenannte Serverlogfiles):
        </p>
        <ul>
          <li>IP-Adresse</li>
          <li>Datum und Uhrzeit der Anfrage</li>
          <li>Zeitzonendifferenz zur Greenwich Mean Time (GMT)</li>
          <li>Inhalt der Anforderung (konkrete Seite)</li>
          <li>Betriebssystem und dessen Zugriffsstatus / HTTP-Statuscode</li>
          <li>&Uuml;bertragene Datenmenge</li>
          <li>
            Website, von der die Anforderung kommt (&bdquo;Referrer-URL&ldquo;)
          </li>
          <li>Browser, Sprache und Version der Browsersoftware</li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>5.1.2. Zweck der Datenverarbeitung</strong></p>
        <p>
          Die Speicherung dieser Daten in Logfiles ist notwendig, um die
          Funktionsf&auml;higkeit der Website sicherzustellen. Sie dienen uns
          zur Optimierung der Website und zur Sicherstellung der Sicherheit
          unserer informationstechnischen Systeme.
        </p>
        <p>&nbsp;</p>
        <p><strong>5.1.3. Rechtsgrundlage der Verarbeitung</strong></p>
        <p>
          Diese Daten erheben wir auf Grundlage unseres berechtigten Interesses
          im Sinne des Art. 6 Abs. 1 lit. f) DSGVO, um unsere Website anzeigen
          zu k&ouml;nnen und ihre Sicherheit zu gew&auml;hrleisten.
        </p>
        <p>&nbsp;</p>
        <p><strong>5.1.4. Dauer der Speicherung</strong></p>
        <p>
          Informationen in den Logfiles werden aus Sicherheitsgr&uuml;nden (z.B.
          zur Aufkl&auml;rung von Missbrauchs- oder Betrugshandlungen) f&uuml;r
          die Dauer von maximal sieben Tagen gespeichert und danach
          gel&ouml;scht. Daten, deren weitere Aufbewahrung zu Beweiszwecken
          erforderlich ist, sind bis zur endg&uuml;ltigen Kl&auml;rung des
          jeweiligen Vorfalls von der L&ouml;schung ausgenommen.
        </p>
        <p>&nbsp;</p>
        <p>
          <strong>5.1.5. Widerspruchs- und Beseitigungsm&ouml;glichkeit</strong>
        </p>
        <p>
          Die Erfassung der Daten zur Bereitstellung der Website und ihre
          Speicherung in Logfiles ist f&uuml;r den Betrieb aus technischen
          Gr&uuml;nden zwingend erforderlich. Es besteht folglich seitens des
          Nutzers keine Widerspruchsm&ouml;glichkeit.
        </p>
        <p>&nbsp;</p>
        <p><strong>5.2. Cookies</strong></p>
        <p><strong>5.2.1. Umfang der Datenverarbeitung</strong></p>
        <p>
          Unsere Website verwendet Cookies. Cookies sind kleine Textdateien, die
          beim Aufruf unserer Webseite auf Ihrem Rechner gespeichert werden.
          Cookies richten auf Ihrem Computer keinen Schaden an und enthalten
          keine Schadsoftware wie z.B. Viren. Cookies enthalten eine
          charakteristische Zeichenfolge, die eine eindeutige Identifizierung
          des Browsers beim erneuten Aufrufen der Website erm&ouml;glicht.
          Einige Elemente unserer Website erfordern es, dass der aufrufende
          Browser auch nach einem Seitenwechsel identifiziert werden kann.
        </p>
        <p>
          Dies erfolgt nicht durch eine Zuordnung zu Ihnen pers&ouml;nlich,
          sondern durch Zuweisung einer Identifikationsnummer zu dem Cookie
          (&bdquo;Cookie-ID&ldquo;). Eine Zusammenf&uuml;hrung der Cookie-ID mit
          Ihrem Namen, Ihrer IP-Adresse oder mit &auml;hnlichen Daten, die eine
          Zuordnung des Cookies zu Ihnen erm&ouml;glichen w&uuml;rden, erfolgt
          nicht.
        </p>
        <p>Diese Website nutzt transiente und persistente Cookies.</p>
        <ul>
          <li>
            Transiente Cookies werden automatisch gel&ouml;scht, wenn Sie den
            Browser schlie&szlig;en. Dazu z&auml;hlen insbesondere sogenannte
            Session-Cookies. Diese speichern eine sogenannte Session-ID, mit der
            sich verschiedene Anfragen Ihres Browsers der gemeinsamen Sitzung
            zuordnen lassen. Wenn Sie auf unsere Website zur&uuml;ckkehren, kann
            Ihr Rechner wiedererkannt werden. Die Session-Cookies werden
            gel&ouml;scht, wenn Sie sich ausloggen bzw. den Browser
            schlie&szlig;en.
          </li>
          <li>
            Persistente Cookies werden automatisiert nach einer vorgegebenen
            Dauer gel&ouml;scht, die sich je nach Cookie unterscheiden kann. Sie
            k&ouml;nnen die Cookies in den Sicherheitseinstellungen Ihres
            Browsers jederzeit l&ouml;schen.
          </li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>5.2.2. Zweck der Datenverarbeitung</strong></p>
        <p>
          Wir verwenden Cookies um unsere Website attraktiv und nutzerfreundlich
          zu gestalten, sie zu verbessern und Anfragen zu beschleunigen.
        </p>
        <p>
          Einige Elemente unserer Internetseite erfordern es, dass der
          aufrufende Browser auch nach einem Seitenwechsel identifiziert werden
          kann. F&uuml;r diese ist es erforderlich, dass der Browser auch nach
          einem Seitenwechsel wiedererkannt wird.
        </p>
        <p>&nbsp;</p>
        <p><strong>5.2.3. Rechtsgrundlage der Datenverarbeitung</strong></p>
        <p>
          Die Rechtsgrundlage f&uuml;r die Verarbeitung personenbezogener Daten
          unter Verwendung der technisch notwendigen Cookies ist Art. 6 Abs. 1
          lit. f DSGVO.
        </p>
        <p>&nbsp;</p>
        <p><strong>5.2.4. Dauer der Speicherung</strong></p>
        <ul>
          <li>
            Session-Cookies werden gel&ouml;scht, sobald der Browser geschlossen
            wird.
          </li>
          <li>
            Persistente Cookies werden automatisiert nach einer vorgegebenen
            Dauer gel&ouml;scht.
          </li>
        </ul>
        <p>&nbsp;</p>
        <p>
          <strong>5.2.5. Widerspruchs- und Beseitigungsm&ouml;glichkeit</strong>
        </p>
        <p>
          Sie haben als Nutzer die volle Kontrolle &uuml;ber die Verwendung von
          Cookies. Durch eine &Auml;nderung der Einstellungen in Ihrem
          Internetbrowser k&ouml;nnen Sie diesen so einstellen, dass Cookies gar
          nicht gespeichert oder am Ende Ihrer Internetsitzung automatisch
          gel&ouml;scht werden. Hierzu w&auml;hlen sie in den Einstellungen
          Ihres Browsers &bdquo;keine Cookies akzeptieren&ldquo;. Im Microsoft
          Internet-Explorer w&auml;hlen Sie hierzu &bdquo;Extras &gt;
          Internetoptionen &gt; Datenschutz &gt; Einstellung&ldquo;; In Firefox
          w&auml;hlen Sie &bdquo;Extras &gt; Einstellungen &gt; Datenschutz &gt;
          Cookies&ldquo;); Wenn Sie einen anderen Internet-Browser verwenden,
          dann entnehmen Sie bitte der Hilfefunktion des Browser die Anweisungen
          bez&uuml;glich der Verhinderung sowie L&ouml;schung von Cookies.
        </p>
        <p>
          Bitte beachten Sie dabei aber, dass Sie in diesem Fall gegebenenfalls
          nicht s&auml;mtliche Funktionen unserer Webseite nutzen k&ouml;nnen.
        </p>
        <p>&nbsp;</p>
        <p><strong>5.3. Webanalyse</strong></p>
        <p><strong>5.3.1. Umfang der Datenverarbeitung</strong></p>
        <p>
          Wir verwenden auf unserer Website Google Analytics, einen
          Webanalysedienst der Google Inc., 1600 Amphitheatre Parkway, Mountain
          View, CA 94043, United States (&bdquo;Google&ldquo;).
        </p>
        <p>
          Google analysiert in unserem Auftrag Ihre Nutzung unserer Website.
          Hierf&uuml;r verwenden wir u.a. Cookies. Was Cookies sind und wie
          diese gel&ouml;scht werden k&ouml;nnen, haben wir oben im Kapitel
          &bdquo;Cookies&ldquo; beschrieben.
        </p>
        <p>
          Die dabei von Google erhobenen Informationen &uuml;ber Ihre Nutzung
          dieser Website (z.B. die bei uns besuchte Seiten) werden an einen
          Server von Google in die USA &uuml;bertragen, dort gespeichert,
          analysiert und das Ergebnis uns in anonymisierter Form zur
          Verf&uuml;gung gestellt.
        </p>
        <p>
          Auf unserer Website verwenden wir die von Google angebotene
          IP-Anonymisierung. Hierbei wird Ihre IP-Adresse von Google innerhalb
          von Mitgliedstaaten der Europ&auml;ischen Union oder in anderen
          Vertragsstaaten des Abkommens &uuml;ber den Europ&auml;ischen
          Wirtschaftsraum zuvor gek&uuml;rzt. Nur in Ausnahmef&auml;llen wird
          die volle IP-Adresse an einen Server von Google in den USA
          &uuml;bertragen und dort gek&uuml;rzt.
        </p>
        <p>
          Google ist im EU-US Privacy Shield&nbsp;<a
            href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI"
            >https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI</a
          >&nbsp;zertifiziert, das f&uuml;r Daten bei Google in den USA ein
          angemessenes Datenschutzniveau gew&auml;hrleistet.
        </p>
        <p>&nbsp;</p>
        <p><strong>5.3.2. Zweck der Datenverarbeitung</strong></p>
        <p>
          In unserem Auftrag benutzt Google diese Informationen, um die Nutzung
          unserer Website auszuwerten und um Reports &uuml;ber die
          Aktivit&auml;ten innerhalb unserer Website zusammenzustellen. Dies
          erm&ouml;glicht uns Ihre Online-Erfahrung besser zu gestalten und die
          Nutzerfreundlichkeit unserer Website zu erh&ouml;hen.
        </p>
        <p>&nbsp;</p>
        <p><strong>5.3.3. Rechtsgrundlage der Verarbeitung</strong></p>
        <p>
          In den oben genannten Zwecken liegt unser berechtigtes Interesse an
          der Datenverarbeitung durch Google Analytics. Rechtsgrundlag ist Art.
          6 Abs. 1 lit. f DSGVO.
        </p>
        <p>&nbsp;</p>
        <p><strong>5.3.4. Dauer der Speicherung</strong></p>
        <p>
          Sitzungen und Kampagnen werden nach Ablauf einer bestimmten Zeitspanne
          beendet. Standardm&auml;&szlig;ig werden Sitzungen nach 30 Minuten
          ohne Aktivit&auml;t und Kampagnen nach sechs Monaten beendet. Das
          Zeitlimit f&uuml;r Kampagnen kann maximal zwei Jahre betragen.
        </p>
        <p>&nbsp;</p>
        <p>
          <strong>5.3.5. Widerspruchs- und Beseitigungsm&ouml;glichkeit</strong>
        </p>
        <p>
          Die von Ihrem Browser &uuml;bermittelte IP-Adresse wird nicht mit
          anderen Daten von Google zusammengef&uuml;hrt. Sie k&ouml;nnen der
          Speicherung der Cookies durch eine entsprechende Einstellung ihrer
          Browser-Software verhindern, wie oben im Kapitel &bdquo;cookies&ldquo;
          beschrieben. Sie k&ouml;nnen dar&uuml;ber hinaus die Erfassung der
          durch das Cookie erzeugten und auf ihre Nutzung unserer Website
          bezogenen Daten an Google sowie die Verarbeitung dieser Daten durch
          Google verhindern, indem sie das verf&uuml;gbare Browser-Plugin von
          Google herunterladen und installieren:&nbsp;<a
            href="https://tools.google.com/dlpage/gaoptout?hl=de"
            >https://tools.google.com/dlpage/gaoptout?hl=de</a
          >.
        </p>
        <p>
          Wenn Sie die zuk&uuml;nftige Erfassung Ihrer Daten durch Google
          Analytics beim Besuch unserer Webseite &uuml;ber verschiedene
          Ger&auml;te (insbesondere mobile Ger&auml;te wie Smartphones oder
          Tablets) verhindern m&ouml;chten, m&uuml;ssen Sie das Opt-Out auf
          allen genutzten Systemen durchf&uuml;hren. Wenn Sie&nbsp;hier klicken,
          wird dieses Opt-Out-Cookie gesetzt.
        </p>
        <p>
          Bitte beachten Sie, dass dieses Opt-Out-Cookie nur so lange eine
          Webanalyse verhindert, wie sie es nicht gel&ouml;scht haben. Weitere
          Informationen zu Google Analytics erhalten Sie in den Google Analytics
          Nutzungsbedingungen&nbsp;<a
            href="https://www.google.de/analytics/terms/de.html"
            >https://www.google.de/analytics/terms/de.html</a
          >, in den Sicherheits- und Datenschutzgrunds&auml;tzen von Google
          Analytics&nbsp;<a
            href="https://support.google.com/analytics/answer/6004245?hl=de"
            >https://support.google.com/analytics/answer/6004245?hl=de</a
          >&nbsp;sowie in der der Google Datenschutzerkl&auml;rung&nbsp;<a
            href="https://www.google.de/intl/de/policies/privacy/"
            >https://www.google.de/intl/de/policies/privacy/</a
          >.
        </p>
        <p>&nbsp;</p>
        <p><strong>6. Datensicherheit</strong></p>
        <p>
          Wir treffen technische, vertragliche und organisatorische
          Ma&szlig;nahmen zur Sicherheit der Datenverarbeitung entsprechend dem
          Stand der Technik. Damit stellen wir sicher, dass die Vorschriften der
          Datenschutzgesetze, insbesondere der Datenschutz-Grundverordnung,
          eingehalten werden und die durch uns verarbeiteten Daten gegen
          Vernichtung, Verlust, Ver&auml;nderung und unberechtigte Zugriffe
          gesch&uuml;tzt sind. Zu diesen Sicherheitsma&szlig;nahmen z&auml;hlt
          auch die verschl&uuml;sselte &Uuml;bertragung von Daten zwischen Ihrem
          Browser und unseren Servern. Bitte beachten Sie, dass die
          SSL-Verschl&uuml;sselung bei &uuml;ber das Internet ausgef&uuml;hrten
          &Uuml;bertragungen nur dann aktiviert ist, wenn das
          Schl&uuml;sselsymbol in der unteren Men&uuml;leiste Ihres
          Browserfensters erscheint und die Adresse mit https:// beginnt. Durch
          SSL (Secure Socket Layer) wird die Daten&uuml;bertragung mit einer
          Verschl&uuml;sselungstechnologie vor illegalem Datenzugriff Dritter
          gesch&uuml;tzt. Sollte diese Option nicht zur Verf&uuml;gung stehen,
          k&ouml;nnen Sie sich auch daf&uuml;r entscheiden, bestimmte Daten
          nicht &uuml;ber das Internet zu versenden.
        </p>
        <p>
          Alle Informationen, die Sie an uns &uuml;bermitteln, werden auf
          unseren Servern in der Bundesrepublik Deutschland gespeichert und
          verarbeitet.
        </p>
        <p>&nbsp;</p>
        <p>
          <strong>7. Weitergabe von Daten an Dritte und Drittanbieter</strong>
        </p>
        <p>
          Eine Weitergabe von Daten an Dritte erfolgt nur im Rahmen der
          gesetzlichen Vorgaben. Wir geben die Daten der Nutzer an Dritte nur
          dann weiter, wenn dies z.B. auf Grundlage des Art. 6 Abs. 1 lit. b)
          DSGVO f&uuml;r Vertragszwecke erforderlich ist, wir dazu gesetzliche
          verpflichtet sind (Art. 6 Abs.1 lit. c) DSGVO oder auf Grundlage
          berechtigter Interessen gem. Art. 6 Abs. 1 lit. f. DSGVO am
          wirtschaftlichen und effektivem Betrieb unseres
          Gesch&auml;ftsbetriebes.
        </p>
        <p>
          Wir setzen im Rahmen einer Auftragsverarbeitung gem. Art. 28 DSGVO
          Subunternehmer f&uuml;r die Erbringung unserer Leistungen,
          insbesondere f&uuml;r den Betrieb, die Wartung und das Hosting der
          Website ein. Wir haben geeignete rechtliche Vorkehrungen sowie
          entsprechende technische und organisatorische Ma&szlig;nahmen
          getroffen, um f&uuml;r den Schutz der personenbezogenen Daten
          gem&auml;&szlig; den einschl&auml;gigen gesetzlichen Vorschriften zu
          sorgen.
        </p>
        <p>&nbsp;</p>
        <p>
          <strong>8. Externe Dienste und Inhalte auf unserer Website</strong>
        </p>
        <p>
          Wir binden externe Dienste oder Inhalte auf unserer Website ein. Dies
          erfolgt auf Grundlage unserer berechtigten Interessen an der Analyse,
          Optimierung und wirtschaftlichen Betrieb unsers Onlineangebots im
          Sinne des Art. 6 Abs. 1 lit. f) DSGVO.
        </p>
        <p>
          Bei Verwendung eines solchen Dienstes oder der Anzeige Inhalte Dritter
          werden aus technischen Gr&uuml;nden Kommunikationsdaten wie z.B.
          Datum, Uhrzeit und IP-Adresse zwischen Ihnen und dem jeweiligen
          Anbieter ausgetauscht. Hierbei handelt es sich insbesondere um Ihre
          IP-Adresse, die f&uuml;r die Darstellung von Inhalten in Ihrem Browser
          erforderlich ist. Weitere Informationen &uuml;ber Zweck und Umfang der
          Erhebung und Verarbeitung Ihrer Daten entnehmen Sie daher bitte den
          Datenschutzhinweisen der jeweils datenschutzrechtlich verantwortlichen
          Anbieter der von uns eingebundenen Dienste bzw. Inhalte. Die
          nachfolgende Aufz&auml;hlung bietet eine &Uuml;bersicht von
          Drittanbietern sowie ihrer Inhalte und Links zu deren
          Datenschutzerkl&auml;rungen, die weitere Hinweise zur Verarbeitung von
          Daten und Widerspruchsm&ouml;glichkeiten enthalten.
        </p>
        <ul>
          <li>
            Google Maps zur Darstellung von Karten, Standorten und f&uuml;r die
            Routenplanung. Angeboten von: Google Inc., 1600 Amphitheatre
            Parkway, Mountain View, CA 94043, USA.
            Datenschutzerkl&auml;rung:&nbsp;<a
              href="https://www.google.com/policies/privacy/"
              >https://www.google.com/policies/privacy/</a
            >, Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://www.google.com/settings/ads/"
              >https://www.google.com/settings/ads/</a
            >,&nbsp;Privacy-Shield-Abkommen:&nbsp;<a
              href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active"
              >https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active</a
            >.
          </li>
          <!-- <li>
            Google Tag Manager zur Verwaltung von Website-Tags &uuml;ber eine
            Oberfl&auml;che (z.B. Google Analytics und weitere
            Google-Marketing-Dienste).&nbsp;Angeboten von: Google Inc., 1600
            Amphitheatre Parkway, Mountain View, CA 94043,
            USA.&nbsp;Datenschutzerkl&auml;rung:&nbsp;<a
              href="https://www.google.com/intl/de/tagmanager/use-policy.html"
              >https://www.google.com/intl/de/tagmanager/use-policy.html</a
            >,&nbsp;Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://www.google.com/settings/ads/"
              >https://www.google.com/settings/ads/</a
            >&nbsp;Privacy-Shield-Abkommen:&nbsp;<a
              href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active"
              >https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active</a
            >.
          </li>
          <li>
            Google AdWords zur Platzierung von Anzeigen im Google-Werbe-Netzwerk
            (z.B. in Suchergebnissen, in Videos, auf Webseiten,
            etc.).&nbsp;Angeboten von: Google Inc., 1600 Amphitheatre Parkway,
            Mountain View, CA 94043,
            USA.&nbsp;Datenschutzerkl&auml;rung:&nbsp;<a
              href="https://policies.google.com/technologies/ads"
              >https://policies.google.com/technologies/ads</a
            >, Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://adssettings.google.com/authenticated"
              >https://adssettings.google.com/authenticated</a
            >,&nbsp;Privacy-Shield-Abkommen:&nbsp;<a
              href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active"
              >https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active</a
            >.
          </li>
          <li>
            Google Fonts zur Darstellung der&nbsp;Schriftarten Google Fonts.
            Angeboten von: Google Inc., 1600 Amphitheatre Parkway, Mountain
            View, CA 94043, USA, ein. Datenschutzerkl&auml;rung:&nbsp;<a
              href="https://www.google.com/policies/privacy/"
              >https://www.google.com/policies/privacy/</a
            >,&nbsp;Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://adssettings.google.com/authenticated"
              >https://adssettings.google.com/authenticated</a
            >,&nbsp;Privacy-Shield-Abkommen:&nbsp;<a
              href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active"
              >https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active</a
            >.
          </li>
          <li>
            Adobe Typekit&nbsp;zur Darstellung
            der&nbsp;Schriftarten&nbsp;Typekit. Angeboten von:&nbsp;Adobe
            Systems Software Ireland Limited, 4-6 Riverwalk, Citywest Business
            Campus, Dublin 24, Ireland.&nbsp;Datenschutzerkl&auml;rung:&nbsp;<a
              href="https://www.adobe.com/de/privacy/policy.html"
              >https://www.adobe.com/de/privacy/policy.html</a
            >,&nbsp;Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://www.adobe.com/de/privacy/opt-out.html"
              >https://www.adobe.com/de/privacy/opt-out.html</a
            >,&nbsp;Privacy-Shield-Abkommen:&nbsp;<a
              href="https://www.privacyshield.gov/participant?id=a2zt0000000TNo9AAG&amp;status=Active"
              >https://www.privacyshield.gov/participant?id=a2zt0000000TNo9AAG&amp;status=Active</a
            >.
          </li>
          <li>
            Font Awesome zur Darstellung von schriftbasierten
            Symbolen/Icon-Sammlungen. Angeboten von: Fonticons Inc.,&nbsp;710
            Blackhorn Dr,&nbsp;Carl Junction,&nbsp;64834 Mo,
            USA.&nbsp;Datenschutzerkl&auml;rung:&nbsp;<a
              href="https://fontawesome.com/privacy"
              >https://fontawesome.com/privacy</a
            >,&nbsp;Informationen zur Datenerhebung und zum Datenschutz:&nbsp;<a
              href="https://fontawesome.com/tos"
              >https://fontawesome.com/tos</a
            >.
          </li>
          <li>
            Facebook-Pixels zur Bestimmung von Besuchern&nbsp;unseres
            Onlineangebotes&nbsp;als Zielgruppe f&uuml;r die Darstellung von
            Anzeigen (sog. Facebook-Ads).&nbsp;Angeboten von:&nbsp;Facebook
            Inc., 1 Hacker Way, Menlo Park, CA 94025, USA, bzw. innerhalb der
            EU: Facebook Ireland Ltd., 4 Grand Canal Square, Grand Canal
            Harbour, Dublin 2, Irland.&nbsp;Datenschutzerkl&auml;rung:&nbsp;<a
              href="https://www.facebook.com/policy.php"
              >https://www.facebook.com/policy.php</a
            >,&nbsp;Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://www.facebook.com/business/help/651294705016616"
              >https://www.facebook.com/business/help/651294705016616</a
            >,&nbsp;<a href="http://optout.networkadvertising.org/"
              >http://optout.networkadvertising.org/</a
            >,&nbsp;Privacy-Shield-Abkommen:&nbsp;<a
              href="https://www.privacyshield.gov/EU-US-Framework"
              >https://www.privacyshield.gov/EU-US-Framework</a
            >.
          </li> -->
          <li>
            YouTube zur Darstellung von Videos der Plattform
            YouTube.&nbsp;Angeboten von&nbsp;Google inc, 1600 Amphitheatre
            Parkway, Mountain View, CA 94043, USA.
            Datenschutzerkl&auml;rung:&nbsp;<a
              href="https://www.google.com/policies/privacy/"
              >https://www.google.com/policies/privacy/</a
            >,&nbsp;Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://adssettings.google.com/authenticated"
              >https://adssettings.google.com/authenticated</a
            >.
          </li>
          <li>
            Vimeo&nbsp;zur Darstellung von Videos der Plattform Vimeo. Angeboten
            von:&nbsp;Vimeo Inc., Attention: Legal Department, 555 West 18th
            Street New York, New York 10011, USA.
            Datenschutzerkl&auml;rung:&nbsp;<a href="https://vimeo.com/privacy"
              >https://vimeo.com/privacy</a
            >, Google Analytics Datenschutzerkl&auml;rung (<a
              href="https://www.google.com/policies/privacy"
              >https://www.google.com/policies/privacy</a
            >).&nbsp;Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://adssettings.google.com/"
              >https://adssettings.google.com/</a
            >,&nbsp;<a href="http://tools.google.com/dlpage/gaoptout?hl=de"
              >http://tools.google.com/dlpage/gaoptout?hl=de</a
            >.
          </li>
          <li>
            Gravatar zur Anzeige von Profilbildern eines Nutzers. Angeboten von
            Automattic Inc., 60 29th Street #343, San Francisco, CA 94110,
            USA.&nbsp;Informationen zur Erhebung und Nutzung der Daten
            durch&nbsp;Gravatar&nbsp;finden sich in den Datenschutzhinweisen von
            Automattic:&nbsp;<a href="https://automattic.com/privacy/"
              >https://automattic.com/privacy/</a
            >.
          </li>
          <li>
            Soundcloud zur Wiedergabe von&nbsp;Podcasts. Angeboten von:
            SoundCloud Limited, Rheinsberger Str. 76/77, 10115 Berlin,
            Deutschland.&nbsp;Informationen zur Erhebung und Nutzung der Daten
            durch&nbsp;Soundcloud&nbsp;finden sich in den Datenschutzhinweisen
            von Soundcloud:&nbsp;<a href="https://soundcloud.com/pages/privacy"
              >https://soundcloud.com/pages/privacy</a
            >.
          </li>
          <li>
            ReCaptcha zur&nbsp;Erkennung von Bots, z.B. bei Eingaben in
            Onlineformularen. Angeboten von Google Inc. 1600 Amphitheatre
            Parkway, Mountain View, CA 94043, USA.
            Datenschutzerkl&auml;rung:&nbsp;<a
              href="https://www.google.com/policies/privacy/"
              >https://www.google.com/policies/privacy/</a
            >,&nbsp;Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://adssettings.google.com/authenticated"
              >https://adssettings.google.com/authenticated</a
            >,&nbsp;Privacy-Shield-Abkommen:&nbsp;<a
              href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active"
              >https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active</a
            >.
          </li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>9. Social Plugins</strong></p>
        <p>
          Wir setzen derzeit folgende Social-Media-Plug-ins ein: Facebook,
          Twitter, Instagram, XING, Linkedin, Pinterest, tumblr und Google+.
        </p>
        <p>
          Wenn Sie unsere Seite besuchen, werden zun&auml;chst keine
          personenbezogenen Daten an die Anbieter der Plug-ins weitergegeben.
          Den Anbieter des Plug-ins erkennen Sie &uuml;ber die Markierung auf
          dem Kasten &uuml;ber seinen Anfangsbuchstaben oder das Logo. Wir
          er&ouml;ffnen Ihnen die M&ouml;glichkeit, &uuml;ber den Button direkt
          mit dem Anbieter des Plug-ins zu kommunizieren. Nur wenn Sie auf das
          markierte Feld klicken und es dadurch aktivieren, erh&auml;lt der
          Plug-in-Anbieter die Information, dass Sie die entsprechende Website
          unseres Online-Angebots aufgerufen haben.
        </p>
        <p>
          Durch die Aktivierung des Plug-ins werden personenbezogene Daten von
          Ihnen an den jeweiligen Plug-in-Anbieter &uuml;bermittelt und dort
          (bei US-amerikanischen Anbietern in den USA) gespeichert. Da der
          Plug-in-Anbieter die Datenerhebung insbesondere &uuml;ber Cookies
          vornimmt, empfehlen wir Ihnen, vor dem Klick auf den ausgegrauten
          Kasten &uuml;ber die Sicherheitseinstellungen Ihres Browsers alle
          Cookies zu l&ouml;schen.
        </p>
        <p>
          Wir haben weder Einfluss auf die erhobenen Daten und
          Datenverarbeitungsvorg&auml;nge, noch sind uns der volle Umfang der
          Datenerhebung, die Zwecke der Verarbeitung, die Speicherfristen
          bekannt. Auch zur L&ouml;schung der erhobenen Daten durch den
          Plug-in-Anbieter liegen uns keine Informationen vor.
        </p>
        <p>
          Der Plug-in-Anbieter speichert die &uuml;ber Sie erhobenen Daten als
          Nutzungsprofile und nutzt diese f&uuml;r Zwecke der Werbung,
          Marktforschung und/oder bedarfsgerechten Gestaltung seiner Website.
          Eine solche Auswertung erfolgt insbesondere (auch f&uuml;r nicht
          eingeloggte Nutzer) zur Darstellung von bedarfsgerechter Werbung und
          um andere Nutzer des sozialen Netzwerks &uuml;ber Ihre
          Aktivit&auml;ten auf unserer Website zu informieren. Ihnen steht ein
          Widerspruchsrecht gegen die Bildung dieser Nutzerprofile zu, wobei Sie
          sich zur Aus&uuml;bung dessen an den jeweiligen Plug-in-Anbieter
          wenden m&uuml;ssen. &Uuml;ber die Plug-ins bieten wir Ihnen die
          M&ouml;glichkeit, mit den sozialen Netzwerken und anderen Nutzern zu
          interagieren, so dass wir unser Angebot verbessern und f&uuml;r Sie
          als Nutzer interessanter ausgestalten k&ouml;nnen. Rechtsgrundlage
          f&uuml;r die Nutzung der Plug-ins ist Art. 6 Abs. 1 lit. f) DS-GVO.
        </p>
        <p>
          Die Datenweitergabe erfolgt unabh&auml;ngig davon, ob Sie ein Konto
          bei dem Plug-in-Anbieter besitzen und dort eingeloggt sind. Wenn Sie
          bei dem Plug-in-Anbieter eingeloggt sind, werden Ihre bei uns
          erhobenen Daten direkt Ihrem beim Plug-in-Anbieter bestehenden Konto
          zugeordnet. Wenn Sie den aktivierten Button bet&auml;tigen und z. B.
          die Seite verlinken, speichert der Plug-in-Anbieter auch diese
          Information in Ihrem Nutzerkonto und teilt sie Ihren Kontakten
          &ouml;ffentlich mit. Wir empfehlen Ihnen, sich nach Nutzung eines
          sozialen Netzwerks regelm&auml;&szlig;ig auszuloggen, insbesondere
          jedoch vor Aktivierung des Buttons, da Sie so eine Zuordnung zu Ihrem
          Profil bei dem Plug-in-Anbieter vermeiden k&ouml;nnen.
        </p>
        <p>
          Weitere Informationen zu Zweck und Umfang der Datenerhebung und ihrer
          Verarbeitung durch den Plug-in-Anbieter erhalten Sie in den im
          Folgenden mitgeteilten Datenschutzerkl&auml;rungen dieser Anbieter.
          Dort erhalten Sie auch weitere Informationen zu Ihren
          diesbez&uuml;glichen Rechten und Einstellungsm&ouml;glichkeiten zum
          Schutze Ihrer Privatsph&auml;re.
        </p>
        <p>
          Adressen der jeweiligen Plug-in-Anbieter und URL mit deren
          Datenschutzhinweisen:
        </p>
        <ul>
          <li>
            Facebook Inc., 1601 S California Ave, Palo Alto, California 94304,
            USA. Datenschutzerkl&auml;rung:&nbsp;<a
              href="http://www.facebook.com/policy.php"
              >http://www.facebook.com/policy.php</a
            >,&nbsp;Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://www.facebook.com/privacy/explanation"
              >https://www.facebook.com/privacy/explanation</a
            >,&nbsp;Privacy-Shield-Abkommen:&nbsp;<a
              href="https://www.facebook.com/about/privacyshield"
              >https://www.facebook.com/about/privacyshield</a
            >,&nbsp;<a href="https://www.privacyshield.gov/EU-US-Framework"
              >https://www.privacyshield.gov/EU-US-Framework</a
            >.
          </li>
          <li>
            Twitter Inc., 1355 Market Street, Suite 900, San Francisco, CA
            94103, USA.&nbsp;Datenschutzerkl&auml;rung:&nbsp;<a
              href="https://twitter.com/de/privacy"
              >https://twitter.com/de/privacy</a
            >,&nbsp;Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://twitter.com/personalization"
              >https://twitter.com/personalization</a
            >,&nbsp;Privacy-Shield-Abkommen:&nbsp;<a
              href="https://www.privacyshield.gov/participant?id=a2zt0000000TORzAAO&amp;status=Active"
              >https://www.privacyshield.gov/participant?id=a2zt0000000TORzAAO&amp;status=Active</a
            >).&nbsp;
          </li>
          <li>
            Instagram Inc., 1601 Willow Road, Menlo Park, CA, 94025,
            USA.&nbsp;Datenschutzerkl&auml;rung:&nbsp;<a
              href="http://instagram.com/about/legal/privacy/"
              >http://instagram.com/about/legal/privacy/</a
            >,&nbsp;Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://help.instagram.com/196883487377501"
              >https://help.instagram.com/196883487377501</a
            >
          </li>
          <li>
            Xing AG, G&auml;nsemarkt 43, 20354 Hamburg,
            DE.&nbsp;Datenschutzerkl&auml;rung:&nbsp;<a
              href="https://privacy.xing.com/de/datenschutzerklaerung"
              >https://privacy.xing.com/de/datenschutzerklaerung</a
            >,&nbsp;Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://nats.xing.com/optout.html?popup=1&amp;locale=de_DE"
              >https://nats.xing.com/optout.html?popup=1&amp;locale=de_DE</a
            >,&nbsp;weitere Informationen zur Datenerhebung und zum
            Datenschutz:&nbsp;<a href="http://www.xing.com/privacy"
              >http://www.xing.com/privacy</a
            >.
          </li>
          <li>
            LinkedIn Corporation, 2029 Stierlin Court, Mountain View, California
            94043, USA. Datenschutzerkl&auml;rung:&nbsp;<a
              href="http://www.linkedin.com/legal/privacy-policy"
              >http://www.linkedin.com/legal/privacy-policy</a
            >,&nbsp;Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://www.linkedin.com/help/linkedin/answer/62931/manage-advertising-preferences?lang=en"
              >https://www.linkedin.com/help/linkedin/answer/62931/manage-advertising-preferences?lang=en</a
            >,&nbsp;Privacy-Shield-Abkommen:&nbsp;<a
              href="https://www.privacyshield.gov/EU-US-Framework"
              >https://www.privacyshield.gov/EU-US-Framework</a
            >
          </li>
          <li>
            Pinterest Inc., 635 High Street, Palo Alto, CA, 94301, USA.
            Datenschutzerkl&auml;rung:&nbsp;<a
              href="https://about.pinterest.com/de/privacy-policy"
              >https://about.pinterest.com/de/privacy-policy</a
            >,&nbsp;Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://help.pinterest.com/en/articles/opt-out-picked-you-pins#Web"
              >https://help.pinterest.com/en/articles/opt-out-picked-you-pins#Web</a
            >
          </li>
          <li>
            Tumblr angeboten von Oath (EMEA) Limited (vormals Yahoo EMEA
            Limited)&nbsp;5-7 Point Square, North Wall Quay,&nbsp;Dublin
            1,&nbsp;Irland.&nbsp;Datenschutzerkl&auml;rung:&nbsp;<a
              href="https://www.tumblr.com/privacy/de"
              >https://www.tumblr.com/privacy/de</a
            >,&nbsp;Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://tumblr.zendesk.com/hc/de/articles/231707827-Du-und-Tumblr-Ads"
              >https://tumblr.zendesk.com/hc/de/articles/231707827-Du-und-Tumblr-Ads</a
            >
          </li>
          <li>
            Google+, angeboten durch die Google LLC, 1600 Amphitheatre Parkway,
            Mountain View, CA 94043,
            USA.&nbsp;Datenschutzerkl&auml;rung:&nbsp;<a
              href="https://policies.google.com/technologies/ads"
              >https://policies.google.com/technologies/ads</a
            >,&nbsp;Hinweise / Widerspruch / Opt-Out-M&ouml;glichkeit:&nbsp;<a
              href="https://adssettings.google.com/authenticated"
              >https://adssettings.google.com/authenticated</a
            >,&nbsp;Privacy-Shield-Abkommen:&nbsp;<a
              href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active"
              >https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&amp;status=Active</a
            >
          </li>
        </ul>
        <p>&nbsp;</p>
        <p><strong>10. Ihre Rechte</strong></p>
        <p>
          Wenn wir personenbezogenen Daten von Ihnen verarbeiten, sind Sie
          Betroffener i.S.d. Datenschutzgrundverordnung (DSGVO) und Sie haben
          gegen&uuml;ber uns folgende Rechte der Sie betreffenden
          personenbezogenen Daten:
        </p>
        <ul>
          <li>Recht auf Auskunft (Art. 15 DSGVO)</li>
          <li>Recht auf Berichtigung (Art. 16 DSGVO)</li>
          <li>Recht auf L&ouml;schung (Art. 17 DSGVO)</li>
          <li>
            Recht auf Einschr&auml;nkung der Verarbeitung (Art. 18 DSGVO),
          </li>
          <li>Recht auf Daten&uuml;bertragbarkeit (Art. 20 DSGVO)</li>
          <li>Recht auf Widerspruch gegen die Verarbeitung (Art. 21 DSGVO)</li>
          <li>
            Recht, sich bei einer Datenschutz-Aufsichtsbeh&ouml;rde zu
            beschweren (Art. 77 DSGVO)
          </li>
        </ul>
        <p>&nbsp;</p>
        <p>
          <strong>11. &Auml;nderungen der Datenschutzerkl&auml;rung</strong>
        </p>
        <p>
          Wir behalten uns vor, die Datenschutzerkl&auml;rung zu &auml;ndern, um
          sie an ge&auml;nderte Rechtslagen, oder bei &Auml;nderungen des
          Dienstes sowie der Datenverarbeitung anzupassen. Dies gilt jedoch nur
          im Hinblick auf Erkl&auml;rungen zur Datenverarbeitung. Sofern
          Einwilligungen der Nutzer erforderlich sind oder Bestandteile der
          Datenschutzerkl&auml;rung Regelungen des Vertragsverh&auml;ltnisses
          mit den Nutzern enthalten, erfolgen die &Auml;nderungen nur mit
          Zustimmung der Nutzer.
        </p>
        <p>
          Bitte informieren Sie sich regelm&auml;&szlig;ig &uuml;ber den Inhalt
          der Datenschutzerkl&auml;rung.
        </p>
      </div>
    </div>
  </div>
</div>
