<div *ngIf="isLoading == false && recordings.length <= 0">
  <span translate>NO_RECORDINGS_FOUND</span>
</div>
<div *ngIf="isLoading == false">
  <div class="row row-eq-height">
    <div
      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
      [hidden]="isLoading"
      *ngFor="let recording of recordings"
    >
      <a class="show__link" routerLink="/recordings/{{ recording.slug }}">
        <div class="single__recording__list">
          <div class="row row-eq-height">
            <div class="col-4">
              <div class="single__recording__list__img-container">
                <img src="{{ recording.image }}" />
              </div>
            </div>
            <div class="col-8">
              <div class="single__recording__list__text-container">
                <div class="single__recording__list__tags">
                  <span
                    class="single__recording__list__tag"
                    *ngFor="let genre of recording.genres"
                  >
                    <a routerLink="/recordings">{{ genre.title }}</a>
                  </span>
                </div>
                <h5>{{ recording.title }}</h5>
                <p>
                  {{ recording.timeStart | date: 'dd.MM.yyyy' }},
                  {{ recording.timeStart | date: 'HH' }} Uhr
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<div *ngIf="isLoading == true">
  <div class="row row-eq-height">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="single__show__list__no-hover">
        <div class="row row-eq-height">
          <div class="col-4">
            <div class="single__show__list__img-container">
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{ width: '98px', height: '98px' }"
              >
              </ngx-skeleton-loader>
            </div>
          </div>
          <div class="col-8">
            <div class="single__show__list__text-container">
              <div class="single__show__list__tags">
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '10',
                    height: '5px',
                    width: '70%'
                  }"
                ></ngx-skeleton-loader>
              </div>
              <h5>
                <ngx-skeleton-loader
                  count="2"
                  [theme]="{
                    'border-radius': '10',
                    height: '20px',
                    width: '100%'
                  }"
                ></ngx-skeleton-loader>
              </h5>
              <p>
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '10',
                    height: '5px',
                    width: '70%'
                  }"
                ></ngx-skeleton-loader>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="single__show__list__no-hover">
        <div class="row row-eq-height">
          <div class="col-4">
            <div class="single__show__list__img-container">
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{ width: '98px', height: '98px' }"
              >
              </ngx-skeleton-loader>
            </div>
          </div>
          <div class="col-8">
            <div class="single__show__list__text-container">
              <div class="single__show__list__tags">
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '10',
                    height: '5px',
                    width: '70%'
                  }"
                ></ngx-skeleton-loader>
              </div>
              <h5>
                <ngx-skeleton-loader
                  count="2"
                  [theme]="{
                    'border-radius': '10',
                    height: '20px',
                    width: '100%'
                  }"
                ></ngx-skeleton-loader>
              </h5>
              <p>
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '10',
                    height: '5px',
                    width: '70%'
                  }"
                ></ngx-skeleton-loader>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="single__show__list__no-hover">
        <div class="row row-eq-height">
          <div class="col-4">
            <div class="single__show__list__img-container">
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{ width: '98px', height: '98px' }"
              >
              </ngx-skeleton-loader>
            </div>
          </div>
          <div class="col-8">
            <div class="single__show__list__text-container">
              <div class="single__show__list__tags">
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '10',
                    height: '5px',
                    width: '70%'
                  }"
                ></ngx-skeleton-loader>
              </div>
              <h5>
                <ngx-skeleton-loader
                  count="2"
                  [theme]="{
                    'border-radius': '10',
                    height: '20px',
                    width: '100%'
                  }"
                ></ngx-skeleton-loader>
              </h5>
              <p>
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '10',
                    height: '5px',
                    width: '70%'
                  }"
                ></ngx-skeleton-loader>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="single__show__list__no-hover">
        <div class="row row-eq-height">
          <div class="col-4">
            <div class="single__show__list__img-container">
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{ width: '98px', height: '98px' }"
              >
              </ngx-skeleton-loader>
            </div>
          </div>
          <div class="col-8">
            <div class="single__show__list__text-container">
              <div class="single__show__list__tags">
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '10',
                    height: '5px',
                    width: '70%'
                  }"
                ></ngx-skeleton-loader>
              </div>
              <h5>
                <ngx-skeleton-loader
                  count="2"
                  [theme]="{
                    'border-radius': '10',
                    height: '20px',
                    width: '100%'
                  }"
                ></ngx-skeleton-loader>
              </h5>
              <p>
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '10',
                    height: '5px',
                    width: '70%'
                  }"
                ></ngx-skeleton-loader>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="single__show__list__no-hover">
        <div class="row row-eq-height">
          <div class="col-4">
            <div class="single__show__list__img-container">
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{ width: '98px', height: '98px' }"
              >
              </ngx-skeleton-loader>
            </div>
          </div>
          <div class="col-8">
            <div class="single__show__list__text-container">
              <div class="single__show__list__tags">
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '10',
                    height: '5px',
                    width: '70%'
                  }"
                ></ngx-skeleton-loader>
              </div>
              <h5>
                <ngx-skeleton-loader
                  count="2"
                  [theme]="{
                    'border-radius': '10',
                    height: '20px',
                    width: '100%'
                  }"
                ></ngx-skeleton-loader>
              </h5>
              <p>
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '10',
                    height: '5px',
                    width: '70%'
                  }"
                ></ngx-skeleton-loader>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="single__show__list__no-hover">
        <div class="row row-eq-height">
          <div class="col-4">
            <div class="single__show__list__img-container">
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{ width: '98px', height: '98px' }"
              >
              </ngx-skeleton-loader>
            </div>
          </div>
          <div class="col-8">
            <div class="single__show__list__text-container">
              <div class="single__show__list__tags">
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '10',
                    height: '5px',
                    width: '70%'
                  }"
                ></ngx-skeleton-loader>
              </div>
              <h5>
                <ngx-skeleton-loader
                  count="2"
                  [theme]="{
                    'border-radius': '10',
                    height: '20px',
                    width: '100%'
                  }"
                ></ngx-skeleton-loader>
              </h5>
              <p>
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '10',
                    height: '5px',
                    width: '70%'
                  }"
                ></ngx-skeleton-loader>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="single__show__list__no-hover">
        <div class="row row-eq-height">
          <div class="col-4">
            <div class="single__show__list__img-container">
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{ width: '98px', height: '98px' }"
              >
              </ngx-skeleton-loader>
            </div>
          </div>
          <div class="col-8">
            <div class="single__show__list__text-container">
              <div class="single__show__list__tags">
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '10',
                    height: '5px',
                    width: '70%'
                  }"
                ></ngx-skeleton-loader>
              </div>
              <h5>
                <ngx-skeleton-loader
                  count="2"
                  [theme]="{
                    'border-radius': '10',
                    height: '20px',
                    width: '100%'
                  }"
                ></ngx-skeleton-loader>
              </h5>
              <p>
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '10',
                    height: '5px',
                    width: '70%'
                  }"
                ></ngx-skeleton-loader>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <div class="single__show__list__no-hover">
        <div class="row row-eq-height">
          <div class="col-4">
            <div class="single__show__list__img-container">
              <ngx-skeleton-loader
                appearance="circle"
                [theme]="{ width: '98px', height: '98px' }"
              >
              </ngx-skeleton-loader>
            </div>
          </div>
          <div class="col-8">
            <div class="single__show__list__text-container">
              <div class="single__show__list__tags">
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '10',
                    height: '5px',
                    width: '70%'
                  }"
                ></ngx-skeleton-loader>
              </div>
              <h5>
                <ngx-skeleton-loader
                  count="2"
                  [theme]="{
                    'border-radius': '10',
                    height: '20px',
                    width: '100%'
                  }"
                ></ngx-skeleton-loader>
              </h5>
              <p>
                <ngx-skeleton-loader
                  count="1"
                  [theme]="{
                    'border-radius': '10',
                    height: '5px',
                    width: '70%'
                  }"
                ></ngx-skeleton-loader>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
