<div class="container">
  <app-page-title [title]="'Schedule'"></app-page-title>
  <div class="grid grid-auto-cols@lg">
    <div class="col-12 col-6@md">
      <app-text-seperator
        [text]="'weekThis' | translate"
        [isLink]="true"
        [url]="'/schedule'"
        [active]="view === 'thisWeek'"
        (click)="view = 'thisWeek'"
      ></app-text-seperator>
    </div>
    <div class="col-12 col-6@md scheduleColumn">
      <app-text-seperator
        [text]="'weekNext' | translate"
        [isLink]="true"
        [url]="'/schedule'"
        [active]="view === 'nextWeek'"
        (click)="view = 'nextWeek'"
      ></app-text-seperator>
    </div>
  </div>
  <div *ngIf="view === 'thisWeek'">
    <div class="grid">
      <div
        class="col-start-1 col-end-13 col-start-2@sm col-end-12@sm col-start-4@md col-end-10@md"
      >
        <div>
          <div *ngIf="schedule?.monday.length >= 1">
            <app-page-title [title]="'Monday'"></app-page-title>
            <app-schedule-day-list
              [schedule]="schedule?.monday"
            ></app-schedule-day-list>
          </div>
          <div *ngIf="schedule?.tuesday.length >= 1">
            <app-page-title [title]="'Tuesday'"></app-page-title>
            <app-schedule-day-list
              [schedule]="schedule?.tuesday"
            ></app-schedule-day-list>
          </div>
          <div *ngIf="schedule?.wednesday.length >= 1">
            <app-page-title [title]="'Wednesday'"></app-page-title>
            <app-schedule-day-list
              [schedule]="schedule?.wednesday"
            ></app-schedule-day-list>
          </div>
          <div *ngIf="schedule?.thursday.length >= 1">
            <app-page-title [title]="'Thurday • 06.08.'"></app-page-title>
            <app-schedule-day-list
              [schedule]="schedule?.thursday"
            ></app-schedule-day-list>
          </div>
          <div *ngIf="schedule?.friday.length >= 1">
            <app-page-title [title]="'Friday'"></app-page-title>
            <app-schedule-day-list
              [schedule]="schedule?.friday"
            ></app-schedule-day-list>
          </div>
          <div *ngIf="schedule?.saturday.length >= 1">
            <app-page-title [title]="'Saturday'"></app-page-title>
            <app-schedule-day-list
              [schedule]="schedule?.saturday"
            ></app-schedule-day-list>
          </div>
          <div *ngIf="schedule?.sunday.length >= 1">
            <app-page-title [title]="'Sunday'"></app-page-title>
            <app-schedule-day-list
              [schedule]="schedule?.sunday"
            ></app-schedule-day-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="view === 'nextWeek'">
    <div class="grid">
      <div
        class="col-start-1 col-end-13 col-start-2@sm col-end-12@sm col-start-4@md col-end-10@md"
      >
        <div>
          <div *ngIf="schedule?.nextmonday.length >= 1">
            <app-page-title [title]="'Monday'"></app-page-title>
            <app-schedule-day-list
              [schedule]="schedule?.nextmonday"
            ></app-schedule-day-list>
          </div>
          <div *ngIf="schedule?.nexttuesday.length >= 1">
            <app-page-title [title]="'Tuesday'"></app-page-title>
            <app-schedule-day-list
              [schedule]="schedule?.nexttuesday"
            ></app-schedule-day-list>
          </div>
          <div *ngIf="schedule?.nextwednesday.length >= 1">
            <app-page-title [title]="'Wednesday'"></app-page-title>
            <app-schedule-day-list
              [schedule]="schedule?.nextwednesday"
            ></app-schedule-day-list>
          </div>
          <div *ngIf="schedule?.nextthursday.length >= 1">
            <app-page-title [title]="'Thurday'"></app-page-title>
            <app-schedule-day-list
              [schedule]="schedule?.nextthursday"
            ></app-schedule-day-list>
          </div>
          <div *ngIf="schedule?.nextfriday.length >= 1">
            <app-page-title [title]="'Friday'"></app-page-title>
            <app-schedule-day-list
              [schedule]="schedule?.nextfriday"
            ></app-schedule-day-list>
          </div>
          <div *ngIf="schedule?.nextsaturday.length >= 1">
            <app-page-title [title]="'Saturday'"></app-page-title>
            <app-schedule-day-list
              [schedule]="schedule?.nextsaturday"
            ></app-schedule-day-list>
          </div>
          <div *ngIf="schedule?.nextsunday.length >= 1">
            <app-page-title [title]="'Sunday'"></app-page-title>
            <app-schedule-day-list
              [schedule]="schedule?.nextsunday"
            ></app-schedule-day-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
