/* Blog Post Single Entry App */

.projectsEntry .projectsEntry__meta {
  margin-bottom: 2rem;
  text-align: center;
}

.projectsEntry .projectsEntry__meta .projectsEntry__title h1 {
  line-height: 35px;
}

.projectsEntry .projectsEntry__meta .projectsEntry__date {
  color: var(--text-color-light);
  margin-bottom: 1rem;
}
