#player {
  background: var(--card-background-hover);
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 73px;
}

.playerWrapper {
  padding: 0.5rem 0;
}

.playerInner {
  display: table;
}

.playerInner > div {
  display: table-cell;
  vertical-align: middle;
}

.playerControls {
  width: 35px;
  height: 50px;
  padding-right: 1rem;
}

.playerControls:last-child {
  padding-right: 0;
}

.playerClose {
  width: 35px;
  height: 50px;
}

svg-icon {
  background: var(--card-background-hover);
  padding: 0.5rem;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.playerImage {
  width: 65px;
  height: 50px;
}

.playerImage img {
  display: flex;
}
