<div id="player" *ngIf="!state?.hidden" [@enterAnimation]>
  <div class="container-full">
    <div class="playerWrapper">
      <div class="row">
        <div
          class="col-12 playerInner"
          *ngIf="!state?.playing && !state?.canplay"
        >
          <div>
            <app-loader></app-loader>
          </div>
        </div>
        <div
          class="col-12 playerInner"
          *ngIf="state?.playing || state?.canplay"
        >
          <div class="playerControls">
            <span (click)="play()" *ngIf="!state?.playing && state?.canplay">
              <i-feather name="play" style="color: #2005ff;"></i-feather>
            </span>
            <span (click)="pause()" *ngIf="state?.playing">
              <i-feather name="pause" style="color: #2005ff;"></i-feather>
            </span>
          </div>
          <div class="playerClose">
            <span (click)="hide()">
              <span class="icon closeIcon"></span>
            </span>
          </div>
          <div class="playerImage">
            <div *ngIf="state.currentTrack.currentImage">
              <img
                src="{{ state.currentTrack.currentImage }}"
                style="width: 50px;"
              />
            </div>
            <div *ngIf="!state.currentTrack.currentImage">
              <img src="./../../../assets/svg/logo.svg" style="width: 50px;" />
            </div>
          </div>
          <div class="playerInfo" *ngIf="!state?.live">
            <a routerLink="/broadcasts/{{ state.currentTrack.currentUrl }}">
              <h5>{{ state.currentTrack.currentTitle }}</h5>
            </a>
            <div class="timeline" *ngIf="!state?.live">
              <span>
                {{ state?.readableCurrentTime }} — {{ state?.readableDuration }}
              </span>
              <div class="rangeSlider">
                <input
                  type="range"
                  class="time-slider"
                  min="0"
                  [max]="state?.duration"
                  step="1"
                  style="width: 100%;"
                  [value]="state?.currentTrack.currentTime"
                  (input)="onSliderChangeEnd($event)"
                  [disabled]="state?.error"
                  *ngIf="state.currentTrack.currentSrc != ''"
                />
              </div>
            </div>
          </div>
          <div class="playerInfo" *ngIf="state?.live">
            <h4>{{ state.currentTrack.currentTitle }}</h4>
          </div>
          <div
            class="playerInfo"
            *ngIf="!state?.currentTrack.currentTitle && state?.live"
          >
            <h4>OFF AIR.</h4>
            <h6 *ngIf="state?.nextShowName">
              Nächste Show: {{ state?.nextShowName }}
              <span style="opacity: 0.4;"
                >&mdash; {{ state?.nextShowStart }}</span
              >
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
