<div id="player" *ngIf="!state?.hidden" [@enterAnimation]>
  <div class="container-full">
    <div class="playerWrapper">
      <div class="grid">
        <div class="col-12" *ngIf="!state?.live">
          <div class="timeline">
            <div class="rangeSlider">
              <ng5-slider
                [options]="{
                  floor: '0',
                  ceil: state?.duration,
                  animate: false,
                  showSelectionBar: true
                }"
                [(value)]="state?.currentTrack.currentTime"
                (userChangeEnd)="onSliderChangeEnd($event)"
                *ngIf="state.currentTrack.currentSrc != ''"
              ></ng5-slider>
            </div>
          </div>
        </div>
        <div
          class="col-12 playerInner"
          *ngIf="!state?.playing && !state?.canplay"
        >
          <div class="playerControls">
            <app-loader></app-loader>
          </div>
        </div>
        <div
          class="col-12 playerInner"
          *ngIf="state?.playing || state?.canplay"
        >
          <div class="playerControls playerPlay">
            <span (click)="play()" *ngIf="!state?.playing && state?.canplay">
              <a>
                <svg-icon key="play"></svg-icon>
              </a>
            </span>
            <span (click)="pause()" *ngIf="state?.playing">
              <a>
                <svg-icon key="pause"></svg-icon>
              </a>
            </span>
          </div>
          <div class="playerImage">
            <div *ngIf="state?.currentTrack.currentImage">
              <img
                src="{{ state?.currentTrack.currentImage }}"
                style="width: 2.5rem;"
                alt="Radio Rasclat Live"
              />
            </div>
            <div *ngIf="!state?.currentTrack.currentImage">
              <img
                src="./../../../assets/svg/logo.svg"
                style="width: 2.5rem;"
                alt="Radio Rasclat Live"
              />
            </div>
          </div>
          <div class="playerInfo" *ngIf="!state?.live">
            <a routerLink="/broadcasts/{{ state?.currentTrack.currentUrl }}">
              <h5>
                ↳{{
                  state?.currentTrack.currentTitle.length > 45
                    ? (state?.currentTrack.currentTitle | slice: 0:45) + '...'
                    : state?.currentTrack.currentTitle
                }}
              </h5>
            </a>
          </div>
          <div
            class="playerInfo"
            *ngIf="state?.currentTrack.currentTitle && state?.live"
          >
            <h5>
              ↳{{
                state?.currentTrack.currentTitle.length > 45
                  ? (state?.currentTrack.currentTitle | slice: 0:45) + '...'
                  : state?.currentTrack.currentTitle
              }}
            </h5>
          </div>
          <div
            class="playerInfo"
            *ngIf="!state?.currentTrack.currentTitle && state?.live"
          >
            <h5>OFF AIR.</h5>
            <span *ngIf="state?.nextShowName">
              Nächste Show: {{ state?.nextShowName }}
              <span style="opacity: 0.4;"
                >&mdash; {{ state?.nextShowStart }}</span
              >
            </span>
          </div>
          <div class="playerDuration" *ngIf="!state?.live">
            <span class="playerDurationInner">
              {{ state?.readableCurrentTime }} — {{ state?.readableDuration }}
            </span>
          </div>
          <div class="playerControls playerClose">
            <span (click)="hide()">
              <a>
                <svg-icon key="close"></svg-icon>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
