#player {
  background: var(--card-light-background);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.playerWrapper {
  padding: 0.5rem 0;
}

/* Range slider */
.playerWrapper .rangeSlider {
  display: flex;
  margin-bottom: 0.5rem;
}

::ng-deep {
  .ng5-slider {
    margin: 0 !important;
  }
  .ng5-slider .ng5-slider-bar {
    background: var(--card-light-background-hover) !important;
    border-radius: 0 !important;
    cursor: pointer;
  }
  .ng5-slider .ng5-slider-bar-wrapper {
    margin-top: 0 !important;
    padding-top: 0 !important;
    height: 4px !important;
  }
  .ng5-slider .ng5-slider-pointer {
    display: none !important;
  }
  .ng5-slider-bubble {
    display: none !important;
  }
  .ng5-slider .ng5-slider-selection {
    background: var(--secondary-color) !important;
    border-radius: 0 !important;
  }
}

.playerInner {
  display: table;
}

.playerInner > div {
  display: table-cell;
  vertical-align: middle;
}

.playerControls {
  width: 35px;
  height: 50px;
  padding-right: 1rem;
}

.playerControls:last-child {
  padding-right: 0;
}

.playerImage {
  width: 50px;
  height: 50px;
}

.playerImage img {
  display: flex;
}

.playerInfo .nextShow {
  font-size: 17px;
  display: none;
}

.playerInfo .nextShow__time {
  opacity: 0.4;
}

.playerDuration {
  width: 0;
  text-align: right;
}

.playerDurationInner {
  display: none;
}

.playerClose {
  width: 35px;
  height: 50px;
  padding-left: 1rem;
}

svg-icon {
  background: var(--card-light-background-hover);
  padding: 0.5rem;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

@media only screen and (min-width: 48rem) {
  .playerInfo .nextShow {
    font-size: 17px;
    display: block;
  }
}

@media only screen and (min-width: 64rem) {
  .playerDuration {
    width: 220px;
    text-align: right;
  }

  .playerDurationInner {
    display: block;
  }
}
