<div class="container">
  <app-page-title
    [title]="'broadcasts' | translate"
    [isLink]="true"
    [url]="'/broadcasts'"
  ></app-page-title>
  <div class="recordingSingle">
    <div class="grid grid-gap-lg">
      <div class="col-4@sm">
        <div class="recording__image__container">
          <figure class="square">
            <img
              [defaultImage]="defaultImage"
              [lazyLoad]="recording?.image"
              alt="{{ recording?.title }}"
            />
          </figure>
        </div>
        <div class="recording__controls">
          <a
            class="btn btn-secondary"
            [style.color]="hex"
            [style.backgroundColor]="rgba"
            href="{{ recording?.audio }}"
            angulartics2On="click"
            angularticsAction="DownloadClick"
            [angularticsCategory]="recording?.slug"
            >{{ 'download' | translate }}</a
          >

          <a
            class="btn btn-secondary"
            [style.color]="hex"
            [style.backgroundColor]="rgba"
            (click)="play()"
            *ngIf="
              !state?.playing ||
              state.currentTrack.currentSrc != this.recording?.audio
            "
            >{{ 'play' | translate }}</a
          >
          <a
            class="btn btn-secondary"
            [style.color]="hex"
            [style.backgroundColor]="rgba"
            (click)="pause()"
            *ngIf="
              state?.playing &&
              state.currentTrack.currentSrc == this.recording?.audio
            "
          >
            {{ 'pause' | translate }}
          </a>
        </div>
      </div>
      <div class="col-8@sm">
        <div class="recording__info__container">
          <div class="recording__title">
            <h1 [style.color]="hex">↳{{ recording?.title }}</h1>
          </div>
          <div class="recording__tags">
            <span
              class="recording__tags__single"
              *ngFor="let genre of recording?.genres"
            >
              <a
                routerLink="/search"
                [queryParams]="{
                  'refinementList[genres.title][0]': genre.title
                }"
                >{{ genre.title }}</a
              >
            </span>
          </div>
          <div class="recording__dates">
            {{ recording?.timeStart | date: 'dd.MM.yyyy' }},
            {{ recording?.timeStart | date: 'HH:mm' }} —
            {{ recording?.timeEnd | date: 'HH:mm' }}
          </div>
          <div class="recording__artists">
            <span *ngFor="let artist of recording?.artists">
              <img
                class="recording__artists__single__image"
                [defaultImage]="defaultImage"
                [lazyLoad]="artist?.image"
                tooltip="{{ artist?.title }}"
                alt="{{ artist?.title }}"
                [options]="{
                  placement: 'top',
                  'hide-delay': 0,
                  'hide-delay-mobile': 0,
                  'animation-duration': 0
                }"
              />
            </span>
          </div>
        </div>
        <div class="recording__description__container">
          <p [innerHTML]="recording?.description"></p>
        </div>
      </div>
    </div>
  </div>

  <app-text-seperator
    [text]="('moreFrom' | translate) + ' ' + recording?.show.title + ' >'"
    [isLink]="true"
    [url]="'/shows/' + recording?.show.slug"
  >
  </app-text-seperator>

  <app-recordings-gallery
    [recordings]="showRecordings"
    [hidden]="isLoading"
    [limit]="4"
  >
  </app-recordings-gallery>
</div>
