<div class="scheduleList" *ngIf="schedule?.length == 0">
  <div class="scheduleList_Day">
    <div class="scheduleListDay__info__container">
      <h4>{{ 'noProgramToday' | translate }}</h4>
    </div>
  </div>
</div>

<div class="scheduleList" *ngIf="schedule?.length >= 1">
  <div class="scheduleList_Day" *ngFor="let entry of schedule">
    <div class="scheduleListDay__image__container" *ngIf="entry?.image_path">
      <img
        [defaultImage]="defaultImage"
        [lazyLoad]="entry?.image_path"
        alt="{{ entry?.name | safeHtml }}"
      />
    </div>
    <div class="scheduleListDay__image__container" *ngIf="!entry?.image_path">
      <img
        src="../../../../assets/svg/logo.svg"
        alt="{{ entry?.name | safeHtml }}"
      />
    </div>
    <div class="scheduleListDay__info__container">
      <h4>↳{{ entry?.name | safeHtml }}</h4>
      {{ entry?.starts | dateFormat: 'HH:mm' }} -
      {{ entry?.ends | dateFormat: 'HH:mm' }}
    </div>
  </div>
</div>
