/* Recordings Gallery App */

.recordingGallery {
  border-bottom: 1px solid var(--card-border);
}

.recordingGallery > .grid-auto-lg {
  grid-gap: 1px;
  overflow: hidden;
}

.recording {
  background-color: var(--card-background);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    // match the grid gap for border thickness
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    // this becomes the border, and handles overlap
    background-color: var(--card-border);
  }
}

.recording:hover > .recording__wrapper {
  transition: all 0.15s ease;
  background-color: var(--card-background-hover);
}

.recording__wrapper {
  padding: 1rem;
  position: relative;
  background-color: var(--card-background);
}

.recording__info__container {
  width: 100%;
}

.recording__tags {
  margin-bottom: 0.5rem;
}

.recording__tags__single::after {
  content: "•";
}

.recording__tags__single:last-child::after {
  content: "";
}

.recording__tags a {
  text-decoration: underline;
}

.recording__dates {
  margin-bottom: 1rem;
}

.recording__image__container {
  padding: 2rem;
}

.recording__image__container figure.square {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
  border: 1px solid var(--card-border);
}

.recording__image__container figure.square img {
  position: absolute;
  top: -1px;
  left: -1px;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

@media only screen and (min-width: 48rem) {
  .recording__info__container {
    height: 128px;
  }
}
