<div class="container">
  <app-page-title [title]="'Broadcasts'"></app-page-title>

  <!-- July 2020 -->
  <!--
  <app-text-seperator [text]="'July 2020'" [isLink]="false">
  </app-text-seperator>
  <app-recordings-list
    [recordings]="recordingsSorted['2020-07']"
    [hidden]="isLoading"
  >
  </app-recordings-list>
  -->

  <!-- July 2020 -->
  <app-text-seperator [text]="'July 2020'" [isLink]="false">
  </app-text-seperator>
  <app-recordings-gallery
    [recordings]="recordingsSorted['2020-07']"
    [hidden]="isLoading"
  >
  </app-recordings-gallery>

  <!-- June 2020 -->
  <app-text-seperator [text]="'June 2020'" [isLink]="false">
  </app-text-seperator>
  <app-recordings-gallery
    [recordings]="recordingsSorted['2020-06']"
    [hidden]="isLoading"
  >
  </app-recordings-gallery>

  <!-- May 2020 -->
  <app-text-seperator [text]="'May 2020'" [isLink]="false">
  </app-text-seperator>
  <app-recordings-gallery
    [recordings]="recordingsSorted['2020-05']"
    [hidden]="isLoading"
  >
  </app-recordings-gallery>

  <!-- April 2020 -->
  <app-text-seperator [text]="'April 2020'" [isLink]="false">
  </app-text-seperator>
  <app-recordings-gallery
    [recordings]="recordingsSorted['2020-04']"
    [hidden]="isLoading"
  >
  </app-recordings-gallery>

  <!-- March 2020 -->
  <app-text-seperator [text]="'March 2020'" [isLink]="false">
  </app-text-seperator>
  <app-recordings-gallery
    [recordings]="recordingsSorted['2020-03']"
    [hidden]="isLoading"
  >
  </app-recordings-gallery>

  <!-- February 2020 -->
  <app-text-seperator [text]="'February 2020'" [isLink]="false">
  </app-text-seperator>
  <app-recordings-gallery
    [recordings]="recordingsSorted['2020-02']"
    [hidden]="isLoading"
  >
  </app-recordings-gallery>

  <!-- January 2020 -->
  <app-text-seperator [text]="'January 2020'" [isLink]="false">
  </app-text-seperator>
  <app-recordings-gallery
    [recordings]="recordingsSorted['2020-01']"
    [hidden]="isLoading"
  >
  </app-recordings-gallery>
</div>
