<div class="container">
  <app-page-title [title]="'changelog' | translate"></app-page-title>

  <div class="changelog">
    <div class="appSelect">
      <div class="grid">
        <div
          class="col-start-1 col-end-13 col-start-2@sm col-end-12@sm col-start-4@md col-end-10@md"
        >
          <div class="grid grid-gap-lg text-center">
            <div class="col-4">
              <div class="app active">
                <div class="appImage">
                  <img
                    src="../../../assets/images/radio-rasclat-logo.png"
                    alt="Radio Rasclat Web"
                  />
                </div>
                <div class="appName">Radio Rasclat Web<br /></div>
                <div class="appBadge">
                  <img
                    src="https://img.shields.io/github/package-json/v/dmnktoe/radio-rasclat-web?color=%23000000&label="
                    alt="Radio Rasclat Web"
                  />
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="app">
                <div class="appImage">
                  <img
                    src="../../../assets/images/radio-rasclat-logo-ios.png"
                    alt="Radio Rasclat iOS"
                  />
                </div>
                <div class="appName">Radio Rasclat iOS<br /></div>
                <div class="appBadge">
                  <img
                    src="https://img.shields.io/itunes/v/1499269866?color=%23000000&label="
                    alt="Radio Rasclat iOS"
                  />
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="app">
                <div class="appImage">
                  <img
                    src="../../../assets/images/radio-rasclat-server.png"
                    alt="Radio Rasclat Server"
                  />
                </div>
                <div class="appName">Radio Rasclat Server<br /></div>
                <div class="appBadge">
                  <img
                    src="https://img.shields.io/github/package-json/v/dmnktoe/radio-rasclat-server?color=%23000000&label="
                    alt="Radio Rasclat Server"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="appHeadline">
      <div class="grid text-center">
        <div class="col-12">
          <h3>Web-App (v{{ version }})</h3>
        </div>
      </div>
    </div>
    <div class="bugsNotice">
      <div class="grid text-center">
        <div class="col-12">
          <p [innerHTML]="'reportBugs' | translate"></p>
        </div>
      </div>
    </div>
    <div class="appChangelog">
      <div class="grid">
        <div
          class="col-start-1 col-end-13 col-start-3@sm col-end-11@sm col-start-4@md col-end-10@md"
        >
          <div class="changelogList">
            <div class="changelogItem">
              <div class="changelogItemHeader">
                <div class="logTime">
                  10.07.2020
                </div>
                <h3 class="title">
                  <a
                    href="https://github.com/dmnktoe/radio-rasclat-web/releases/tag/4.0.0"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    Radio Rasclat Web (v4.0.0)
                    <svg-icon key="external"></svg-icon
                  ></a>
                </h3>
              </div>
              <div class="changes">
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_new">
                      New
                    </h3>
                  </div>
                  <div class="content">
                    <p>
                      <span
                        >Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Aperiam aut, consequatur eveniet exercitationem
                        ipsum labore laudantium modi, nulla optio, quo veritatis
                        voluptate voluptatem voluptatum. Ex laudantium minus
                        unde voluptate! Rerum?</span
                      >
                    </p>
                    <ul>
                      <li>Player</li>
                    </ul>
                  </div>
                </div>
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_changes">
                      Changes
                    </h3>
                  </div>
                  <div class="content">
                    <p>
                      <span
                        >Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Aperiam aut, consequatur eveniet exercitationem
                        ipsum labore laudantium modi, nulla optio, quo veritatis
                        voluptate voluptatem voluptatum. Ex laudantium minus
                        unde voluptate! Rerum?</span
                      >
                    </p>
                  </div>
                </div>
                <div class="changesSection">
                  <div class="articleMeta">
                    <h3 class="category category_fixed">
                      Bug-Fixes
                    </h3>
                  </div>
                  <div class="content">
                    <p>
                      <span
                        >Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Aperiam aut, consequatur eveniet exercitationem
                        ipsum labore laudantium modi, nulla optio, quo veritatis
                        voluptate voluptatem voluptatum. Ex laudantium minus
                        unde voluptate! Rerum?</span
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
