/* Header */

header {
  background: var(--card-background);
  border-bottom: 1px solid var(--card-border);
  font-family: "Trash", sans-serif;
  position: fixed;
  width: 100%;
  z-index: 9998;
}

header .grid {
  align-items: center;
  height: 50px;
  margin: 0 auto;
}

header a {
  text-decoration: none;
}

header .logo {
  margin-top: 3px;
}

header span.menuIcon {
  background-color: var(--text-color);
  -webkit-mask: url("../../../assets/svg/menu.svg") no-repeat center;
  mask: url("../../../assets/svg/menu.svg") no-repeat center;
  position: relative;
  display: inline-block;
  width: 16px;
  height: 10px;
}

header a.menu {
  cursor: pointer;
}

header a.menu:hover > span.menuIcon {
  background-color: var(--secondary-color);
}

header .logo img {
  width: 35px;
}

@media only screen and (min-width: 32rem) {
  header span.menuIcon {
    width: 18px;
    height: 12px;
  }
}

@media only screen and (min-width: 48rem) {
  header .logo img {
    width: 40px;
    transition: all 0.2s;
  }

  header .logo img:hover {
    transform: rotate(-5deg);
  }

  header span.menuIcon {
    width: 20px;
    height: 12px;
  }
}

@media only screen and (min-width: 64rem) {
  header span.menuIcon {
    width: 21px;
    height: 13px;
  }
}

@media only screen and (min-width: 80rem) {
  header span.menuIcon {
    width: 22px;
    height: 14px;
  }
}

/* Navigation */

nav {
  position: fixed;
  width: 100%;
  z-index: 9998;
  top: 51px;
}

.infoBanner {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--card-background);
  border-bottom: 1px solid var(--card-border);
}

.infoBanner .grid {
  align-items: center;
  height: auto;
  margin: 0 auto;
}

.infoBanner a {
  text-decoration: underline;
}

.navigation {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  background: var(--card-background);
  border-bottom: 1px solid var(--card-border);
  line-height: 21px;
}

.navigation a {
  text-decoration: underline;
}

.navigation a.active {
  color: var(--secondary-color);
}

.navigation ul {
  margin-bottom: 1rem;
}

.navigation li {
  list-style-type: none;
}

.navigation h5 {
  margin-bottom: 0.7rem;
  display: block;
}

.navigation .grid {
  align-items: stretch;
  height: auto;
  margin: 0 auto;
}

.navigation span.externalIcon {
  background-color: var(--text-color);
  -webkit-mask: url("../../../assets/svg/external.svg") no-repeat center;
  mask: url("../../../assets/svg/external.svg") no-repeat center;
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
}

.navigation span.dropdownIcon {
  background-color: var(--text-color);
  -webkit-mask: url("../../../assets/svg/dropdown.svg") no-repeat center;
  mask: url("../../../assets/svg/dropdown.svg") no-repeat center;
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
}

@media only screen and (min-width: 32rem) {
  .navigation img {
    width: 11px;
  }
}

@media only screen and (min-width: 48rem) {
  .navigation img {
    width: 13px;
  }

  .navigation {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    line-height: 24px;
  }
}

@media only screen and (min-width: 64rem) {
  .navigation {
    line-height: 28px;
  }

  .navigation img {
    width: 15px;
  }
}

@media only screen and (min-width: 80rem) {
  .navigation {
    line-height: 29px;
  }

  .navigation img {
    width: 16px;
  }
}
