@import "src/theme/_variables";

/* Header */

header {
  background: #fff;
  border-bottom: 1px solid #222222;
  font-family: "Trash", sans-serif;
  position: fixed;
  width: 100%;
  z-index: 9998;
}

header .grid {
  align-items: center;
  height: 50px;
  margin: 0 auto;
}

header a {
  text-decoration: none;
}

header .logo {
  margin-top: 3px;
}

header img.menuIcon {
  width: 15px;
}

header .logo img {
  width: 35px;
}

@media only screen and (min-width: 32rem) {
  header img.menuIcon {
    width: 18px;
  }
}

@media only screen and (min-width: 48rem) {
  header .logo img {
    width: 40px;
    transition: all 0.2s;
  }

  header .logo img:hover {
    transform: rotate(-5deg);
  }

  header img.menuIcon {
    width: 19px;
  }
}

@media only screen and (min-width: 64rem) {
  header img.menuIcon {
    width: 20px;
  }
}

@media only screen and (min-width: 80rem) {
  header img.menuIcon {
    width: 22px;
  }
}

/* Navigation */

nav {
  position: fixed;
  width: 100%;
  z-index: 9998;
  top: 51px;
}

.infoBanner {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: #fff;
  border-bottom: 1px solid #222222;
  display: none;
}

.infoBanner .grid {
  align-items: stretch;
  height: auto;
  margin: 0 auto;
}

.infoBanner a {
  text-decoration: underline;
}

.navigation {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  background: #fff;
  border-bottom: 1px solid #222222;
  line-height: 21px;
}

.navigation a {
  text-decoration: underline;
}

.navigation a.active {
  color: $secondary-color;
}

.navigation ul {
  margin-bottom: 1rem;
}

.navigation li {
  list-style-type: none;
}

.navigation h5 {
  margin-bottom: 0.7rem;
  display: block;
}

.navigation .grid {
  align-items: stretch;
  height: auto;
  margin: 0 auto;
}

.navigation img {
  width: 10px;
}

@media only screen and (min-width: 32rem) {
  .navigation img {
    width: 11px;
  }
}

@media only screen and (min-width: 48rem) {
  .infoBanner {
    display: block;
  }

  .navigation img {
    width: 13px;
  }

  .navigation {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    line-height: 24px;
  }
}

@media only screen and (min-width: 64rem) {
  .navigation {
    line-height: 28px;
  }

  .navigation img {
    width: 15px;
  }
}

@media only screen and (min-width: 80rem) {
  .navigation {
    line-height: 29px;
  }

  .navigation img {
    width: 16px;
  }
}
