<header>
  <div class="container">
    <div class="grid grid-gap-xs">
      <div class="col-5">
        <app-live></app-live>
      </div>
      <div class="col-2 text-center">
        <div class="logo">
          <a routerLink="/">
            <img src="../../../assets/svg/logo.svg" alt="Radio Rasclat Logo" />
          </a>
        </div>
      </div>
      <div class="col-5 text-right">
        <a (click)="toggleNav()">
          MENU
          <img
            class="menuIcon"
            src="../../../assets/svg/menu.svg"
            alt="Menu icon"
          />
        </a>
      </div>
    </div>
  </div>
</header>
<nav *ngIf="isNavVisible">
  <div class="infoBanner">
    <div class="container">
      <div class="grid grid-gap-xs">
        <div class="col-12 text-center">
          <span
            >Radio Rasclat is a non-commercial and
            <a
              href="https://github.com/dmnktoe/radio-rasclat-web"
              target="_blank"
              >open source</a
            >
            community radio station.</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="navigation">
    <div class="container">
      <div class="grid grid-gap-xs">
        <div class="col-6 col-3@md">
          <h5>↳ Listen</h5>
          <ul>
            <li>
              <a routerLink="/" (click)="toggleNav()">
                Home
              </a>
            </li>
            <li>
              <a
                routerLink="/broadcasts"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                Broadcasts
              </a>
            </li>
            <li>
              <a
                routerLink="/shows"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                Shows
              </a>
            </li>
            <li>
              <a
                routerLink="/schedule"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                Schedule
              </a>
            </li>
            <li>
              <a
                href="https://radio-rasclat.chatango.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                Chat
                <img
                  src="../../../assets/svg/external.svg"
                  alt="External link"
                />
              </a>
            </li>
            <li>
              <a
                routerLink="/search"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                Search
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a
                href="https://apps.apple.com/us/app/radio-rasclat/id1499269866"
                target="_blank"
              >
                iOS-App
                <img
                  src="../../../assets/svg/external.svg"
                  alt="External link"
                />
              </a>
            </li>
            <li>
              <a
                href="https://soundcloud.com/radiorasclat"
                target="_blank"
                rel="noopener noreferrer"
              >
                SoundCloud
                <img
                  src="../../../assets/svg/external.svg"
                  alt="External link"
                />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-3@md">
          <h5>↳ Radio Rasclat</h5>
          <ul>
            <li>
              <a href="#">
                Projects
              </a>
            </li>
            <li>
              <a href="#">
                Events
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a
                routerLink="/about"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                About
              </a>
            </li>
            <li>
              <a href="#">
                Contact
              </a>
            </li>
            <li>
              <a href="#">
                Participate
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-3@md">
          <h5>↳ Open Source</h5>
          <ul>
            <li>
              <a
                href="https://github.com/dmnktoe/radio-rasclat-web"
                target="_blank"
              >
                Contribute
                <img
                  src="../../../assets/svg/external.svg"
                  alt="External link"
                />
              </a>
            </li>
            <li>
              <a
                routerLink="/licenses"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                3rd Party Licenses
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a
                routerLink="/changelog"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                Changelog
              </a>
            </li>
            <li>
              <a href="https://status.radio-rasclat.com/" target="_blank">
                Status
                <img
                  src="../../../assets/svg/external.svg"
                  alt="External link"
                />
              </a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-3@md">
          <h5>↳ Internal</h5>
          <ul>
            <li>
              <a
                routerLink="/imprint"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                Imprint
              </a>
            </li>
            <li>
              <a
                routerLink="/privacy"
                routerLinkActive="active"
                (click)="toggleNav()"
              >
                Privacy
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#">
                Cookie Preferences
                <img src="../../../assets/svg/dropdown.svg" alt="Dropdown" />
              </a>
            </li>
            <li>
              <a href="#">
                Language settings
                <img src="../../../assets/svg/dropdown.svg" alt="Dropdown" />
              </a>
            </li>
          </ul>
          <ul>
            <li>
              {{ now | date: 'HH:mm' }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
