<div class="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <input
          type="text"
          class="ais-SearchBox-input"
          [placeholder]="'SEARCH' | translate"
          (keyup)="onQuery({ $event: $event })"
        />
        <hr />
        <ais-instantsearch [config]="recordingsConfig">
          <h3 translate>RECORDINGS</h3>
          <ais-configure [searchParameters]="searchParameters"></ais-configure>
          <ais-hits>
            <ng-template let-hits="hits" let-results="results">
              <div class="row row-eq-height">
                <div class="col-12" *ngIf="hits.length === 0">
                  No results were found for {{ results.query }}.
                </div>
                <div class="col-12">
                  <div class="row">
                    <div
                      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
                      *ngFor="let recording of hits"
                    >
                      <a
                        class="recording__link"
                        routerLink="/recording/{{ recording.slug }}"
                      >
                        <div class="single__recording__list">
                          <div class="row row-eq-height">
                            <div class="col-4">
                              <div
                                class="single__recording__list__img-container"
                              >
                                <img src="{{ recording.image }}" />
                              </div>
                            </div>
                            <div class="col-8">
                              <div
                                class="single__recording__list__text-container"
                              >
                                <div class="single__recording__list__tags">
                                  <span
                                    class="single__recording__list__tag"
                                    *ngFor="let genre of recording.genre"
                                  >
                                    {{ genre }}
                                  </span>
                                </div>
                                <h5>
                                  <ais-highlight
                                    attribute="title"
                                    [hit]="recording"
                                  >
                                    {{ recording.title }}
                                  </ais-highlight>
                                </h5>
                                <p>{{ recording.description }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ais-hits>
        </ais-instantsearch>
        <hr />
        <ais-instantsearch [config]="showsConfig">
          <h3 translate>SHOWS</h3>
          <ais-configure [searchParameters]="searchParameters"></ais-configure>
          <ais-hits>
            <ng-template let-hits="hits" let-results="results">
              <div class="row row-eq-height">
                <div class="col-12" *ngIf="hits.length === 0">
                  No results were found for {{ results.query }}.
                </div>
                <div class="col-12">
                  <div class="row">
                    <div
                      class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3"
                      *ngFor="let show of hits"
                    >
                      <a
                        class="show__link"
                        routerLink="/recording/{{ show.slug }}"
                      >
                        <div
                          class="single__show__list"
                          [ngStyle]="{
                            'background-image': 'url(' + show.image + ')'
                          }"
                        >
                          <div class="row row-eq-height">
                            <div class="col-12">
                              <div class="single__show__list__text-container">
                                <h5>
                                  {{ show.title }}
                                </h5>
                                <p>{{ show.description }}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ais-hits>
        </ais-instantsearch>
      </div>
    </div>
  </div>
</div>
