<div class="container">
  <app-recordings-slideshow
    [isLoading]="isLoading"
    [recordings]="recordings"
    [hotRecording]="hotRecording"
  >
  </app-recordings-slideshow>

  <app-text-seperator [text]="'Latest Broadcasts'" [isLink]="false">
  </app-text-seperator>

  <app-recordings-gallery
    [recordings]="recordings"
    [hidden]="isLoading"
    [limit]="8"
  >
  </app-recordings-gallery>

  <app-text-seperator
    [text]="'(' + recordings.length + ') View all >'"
    [isLink]="true"
    [url]="'/broadcasts'"
  >
  </app-text-seperator>
</div>

<div class="container">
  <div class="grid">
    <div class="col-12 col-6@md">
      <app-text-seperator [text]="'Shows'"></app-text-seperator>

      <app-shows-gallery [shows]="shows" [limit]="2"></app-shows-gallery>

      <app-text-seperator
        [text]="'(' + shows.length + ') View all >'"
        [isLink]="true"
        [url]="'/shows'"
      >
      </app-text-seperator>
    </div>
    <div class="col-12 col-6@md">
      <app-text-seperator
        [text]="'Schedule'"
        [border]="true"
      ></app-text-seperator>

      <app-schedule-day-list [schedule]="schedule"></app-schedule-day-list>

      <app-text-seperator
        [text]="'See more >'"
        [isLink]="true"
        [url]="'/schedule'"
        [border]="true"
      >
      </app-text-seperator>
    </div>
  </div>
</div>
