<div class="container">
  <app-recordings-slideshow
    [isLoading]="isLoading"
    [recordings]="recordings"
    [hotRecording]="hotRecording"
  >
  </app-recordings-slideshow>

  <app-text-seperator [text]="'Latest Broadcasts'" [isLink]="false">
  </app-text-seperator>

  <app-recordings-gallery
    [recordings]="recordings"
    [hidden]="isLoading"
    [limit]="8"
  >
  </app-recordings-gallery>

  <app-text-seperator
    [text]="'(' + recordings.length + ') View all >'"
    [isLink]="true"
    [url]="'/broadcasts'"
  >
  </app-text-seperator>
</div>

<div class="container" style="padding-bottom: 3rem;">
  <div class="grid grid-auto-cols@lg">
    <div class="col-12 col-6@md">
      <app-text-seperator
        [text]="'Shows >'"
        [isLink]="true"
        [url]="'/shows'"
      ></app-text-seperator>

      <app-shows-gallery
        [hidden]="isLoading"
        [shows]="shows"
        [limit]="1"
      ></app-shows-gallery>
    </div>
    <div class="col-12 col-6@md scheduleColumn">
      <app-text-seperator
        [text]="'Schedule >'"
        [isLink]="true"
        [url]="'/schedule'"
      ></app-text-seperator>

      <app-schedule-day-list [schedule]="schedule"></app-schedule-day-list>
    </div>
  </div>
</div>
