<div class="container">
  <app-page-title [title]="'search' | translate"></app-page-title>

  <ais-instantsearch [config]="algoliaRecordingsConfig">
    <div class="grid">
      <div class="col-12">
        <ais-search-box
          placeholder="{{ 'searchDotted' | translate }}"
          [autofocus]="true"
        ></ais-search-box>
      </div>
    </div>
    <div class="grid grid-gap-lg">
      <div class="col-12 col-3@md">
        <div class="filterPanel">
          <h4>{{ 'genres' | translate }}</h4>
          <ais-panel>
            <ais-refinement-list
              attribute="genres.title"
              operator="and"
              limit="5"
            >
            </ais-refinement-list>
          </ais-panel>

          <h4>{{ 'artists' | translate }}</h4>
          <ais-panel>
            <ais-refinement-list
              attribute="artists.title"
              operator="and"
              limit="5"
            >
            </ais-refinement-list>
          </ais-panel>

          <h4>{{ 'shows' | translate }}</h4>
          <ais-panel>
            <ais-refinement-list
              attribute="show.title"
              operator="and"
              limit="5"
            >
            </ais-refinement-list>
          </ais-panel>
        </div>
      </div>
      <div class="col-12 col-9@md">
        <ais-configure [searchParameters]="searchParameters"></ais-configure>
        <ais-hits>
          <ng-template let-hits="hits" let-results="results">
            <div class="col-12">
              <h4>{{ 'broadcasts' | translate }}</h4>
              <span *ngIf="hits?.length == 0">
                <span [innerHTML]="'noBroadcastsFound' | translate"></span>
              </span>
              <span *ngIf="hits?.length >= 1">
                <app-recordings-list [recordings]="hits"></app-recordings-list>
              </span>
            </div>
          </ng-template>
        </ais-hits>
        <ais-pagination
          [showFirst]="true"
          [showLast]="true"
          [showPrevious]="true"
          [showNext]="true"
        ></ais-pagination>
      </div>
    </div>
  </ais-instantsearch>
</div>
