/* Blog Post Single Entry App */

.blogPostEntry .blogPostEntry__meta {
  margin-bottom: 2rem;
  text-align: center;
}

.blogPostEntry .blogPostEntry__meta .blogPostEntry__title h1 {
  line-height: 35px;
}

.blogPostEntry .blogPostEntry__meta .blogPostEntry__date {
  color: var(--text-color-light);
  margin-bottom: 1rem;
}
